# for power tail
#[MuEle]
#variables = ['MDR[0.1,0.,1.]', 'gammaR[1.,1.,5.]', 'nBtag[2.,2.,7.]']
#variables_range = ['MDR_FULL[0.,1.]','gammaR_FULL[1.,5.]', 'nBtag_FULL[2.,7.]']

#pdf_TTj = ['MDR0_TTj[0.097]',
#          'SigmaL_TTj[0.019]',
#          'SigmaR_TTj[0.023]',
#          'S1_TTj[38.8]',
#          'S2_TTj[50.3]',
#          'M_TTj[-4.1]']
#others_TTj = ['Ntot_TTj[4.6e5,0.,1.e7]']

# for 2 exponential tails
#[MuEle]
#variables = ['MDR[0.1,0.,1.]', 'gammaR[1.,1.,5.]', 'nBtag[2.,2.,7.]']
#variables_range = ['MDR_FULL[0.,1.]','gammaR_FULL[1.,5.]', 'nBtag_FULL[2.,7.]']

#pdf_TTj = ['MDR0_TTj[0.097]',
#          'SigmaL_TTj[0.019]',
#          'SigmaR_TTj[0.023]',
#          'S1_TTj[38.8]',
#          'S2_TTj[15.3]',
#          'F1_TTj[.19]']
#others_TTj = ['Ntot_TTj[4.6e5,0.,1.e7]']

# for 2 exponential tails
#[MuEle]
#variables = ['MDR[0.1,0.,1.]', 'gammaR[1.,1.,5.]', 'nBtag[2.,2.,7.]']
#variables_range = ['MDR_FULL[0.,1.]','gammaR_FULL[1.,5.]', 'nBtag_FULL[2.,7.]']

#pdf_TTj = ['MDR0_TTj[0.097]',
#          'SigmaL_TTj[0.017]',
#          'SigmaR_TTj[0.027]',
#          'S1_TTj[38.8]',
#          'S2_TTj[15.3]',
#          'F1_TTj[0.19]']
#others_TTj = ['Ntot_TTj[4.6e5,0.,1.e7]']

# for 3 exponential tails
#[MuEle]
#variables = ['MDR[0.1,0.,1.]', 'gammaR[1.,1.,5.]', 'nBtag[2.,2.,7.]']
#variables_range = ['MDR_FULL[0.,1.]','gammaR_FULL[1.,5.]', 'nBtag_FULL[2.,7.]']

#pdf_TTj = ['MDR0_TTj[0.097]',
# 	   'SigmaL_TTj[0.017]',
# 	   'SigmaR_TTj[0.027]',
# 	   'S1_TTj[88.8]', 
# 	   'S2_TTj[17.3]', 
# 	   'S3_TTj[9.6]',
# 	   'F1_TTj[0.15]',
# 	   'F2_TTj[.0005]'] 
#others_TTj = ['Ntot_TTj[4.6e5,0.,1.e7]']

# for one alpha tail
#[MuEle]
#variables = ['MDR[0.1,0.,1.]', 'gammaR[1.,1.,5.]', 'nBtag[2.,2.,7.]']
#variables_range = ['MDR_FULL[0.,1.]','gammaR_FULL[1.,5.]', 'nBtag_FULL[2.,7.]']

#pdf_TTj = ['MDR0_TTj[0.097]',
#  	    'SigmaL_TTj[0.017]',
#	    'SigmaR_TTj[0.027]',
#	    'S1_TTj[51.8]',
#	    'A1_TTj[3.1]'] 
#others_TTj = ['Ntot_TTj[4.6e5,0.,1.e7]']

# for one alpha tail with inverse n exponent
[MuEle]
#variables = ['MDR[0.1,0.,1.]', 'gammaR[1.,1.,5.]', 'nBtag[2.,2.,7.]', 'dPhill[.5,.3,.6]']
#variables = ['MDR[0.1,0.,1.]', 'gammaR[1.,1.,5.]', 'nBtag[2.,2.,7.]', 'dPhill[.5,.314,.63]']
#variables = ['MDR[0.1,0.,1.]', 'gammaR[1.,1.,5.]', 'nBtag[2.,2.,7.]', 'dPhill[.5,.63,.942]']
#variables = ['MDR[0.1,0.,1.]', 'gammaR[1.,1.,5.]', 'nBtag[2.,2.,7.]', 'dPhill[.5,.942,1.26]']
#variables = ['MDR[0.1,0.,1.]', 'gammaR[1.,1.,5.]', 'nBtag[2.,2.,7.]', 'dPhill[.5,1.26,1.6]']
#variables = ['MDR[0.1,0.,1.]', 'gammaR[1.,1.,5.]', 'nBtag[2.,2.,7.]', 'dPhill[.5,1.6,1.88]']
#variables = ['MDR[0.1,0.,1.]', 'gammaR[1.,1.,5.]', 'nBtag[2.,2.,7.]', 'dPhill[.5,1.88,2.2]']
#variables = ['MDR[0.1,0.,1.]', 'gammaR[1.,1.,5.]', 'nBtag[2.,2.,7.]', 'dPhill[.5,2.2,2.51]']
#variables = ['MDR[0.1,0.,1.]', 'gammaR[1.,1.,5.]', 'nBtag[2.,2.,7.]', 'dPhill[.5,2.51,2.8]']
variables = ['MDR[0.1,0.,1.]', 'gammaR[1.,1.,5.]', 'nBtag[2.,2.,7.]', 'dPhill[.5,2.8,3.15]']
#variables = ['MDR[0.1,0.,1.]', 'gammaR[1.,1.,5.]', 'nBtag[2.,2.,7.]', 'dPhill[.5,.0,.314]']
#variables_range = ['MDR_FULL[0.,1.]','gammaR_FULL[1.,5.]', 'nBtag_FULL[2.,7.]','dPhill_FULL[.3,.6]']
#variables_range = ['MDR_FULL[0.,1.]','gammaR_FULL[1.,5.]', 'nBtag_FULL[2.,7.]','dPhill_FULL[.314,.63]']
#variables_range = ['MDR_FULL[0.,1.]','gammaR_FULL[1.,5.]', 'nBtag_FULL[2.,7.]','dPhill_FULL[.63,.942]']
#variables_range = ['MDR_FULL[0.,1.]','gammaR_FULL[1.,5.]', 'nBtag_FULL[2.,7.]','dPhill_FULL[.942,1.26]']
#variables_range = ['MDR_FULL[0.,1.]','gammaR_FULL[1.,5.]', 'nBtag_FULL[2.,7.]','dPhill_FULL[1.26,1.6]']
#variables_range = ['MDR_FULL[0.,1.]','gammaR_FULL[1.,5.]', 'nBtag_FULL[2.,7.]','dPhill_FULL[1.6,1.88]']
#variables_range = ['MDR_FULL[0.,1.]','gammaR_FULL[1.,5.]', 'nBtag_FULL[2.,7.]','dPhill_FULL[1.88,2.2]']
#variables_range = ['MDR_FULL[0.,1.]','gammaR_FULL[1.,5.]', 'nBtag_FULL[2.,7.]','dPhill_FULL[2.2,2.51]']
#variables_range = ['MDR_FULL[0.,1.]','gammaR_FULL[1.,5.]', 'nBtag_FULL[2.,7.]','dPhill_FULL[2.51,2.8]']
variables_range = ['MDR_FULL[0.,1.]','gammaR_FULL[1.,5.]', 'nBtag_FULL[2.,7.]','dPhill_FULL[2.8,3.15]']
#variables_range = ['MDR_FULL[0.,1.]','gammaR_FULL[1.,5.]', 'nBtag_FULL[2.,7.]','dPhill_FULL[0.,.314]']

pdf_TTj = ['MDR0_TTj[0.093]',
           'SigmaL_TTj[0.019]',
           'SigmaR_TTj[0.021]',
           'S1_TTj[105.1]',
           'A1_TTj[1200]',
	   'N_TTj[3.3]']
others_TTj = ['Ntot_TTj[5.3e4,0.,1.e7]']

# for one exponential tail and one exponential tail with 1/n exponent
#[MuEle]
#variables = ['MDR[0.1,0.,1.]', 'gammaR[1.,1.,5.]', 'nBtag[2.,2.,7.]']
#variables_range = ['MDR_FULL[0.,1.]','gammaR_FULL[1.,5.]', 'nBtag_FULL[2.,7.]']

#pdf_TTj = ['MDR0_TTj[0.097]',
#	   'SigmaL_TTj[0.017]',
#	   'SigmaR_TTj[0.017]',
#	   'S1_TTj[51]',
#           'S2_TTj[9.1]',
#           'N_TTj[1.1]',
#           'F1_TTj[0.73]']
#others_TTj = ['Ntot_TTj[4.6e5,0.,1.e7]']