
[MuEle]
variables = ['MDR[0.1,0.,1.]', 'gammaR[1.,1.,5.]', 'nBtag[2.,2.,7.]']
variables_range = ['MDR_FULL[0.,1.]','gammaR_FULL[1.,5.]', 'nBtag_FULL[2.,7.]']

pdf_TTj = ['MDR0_TTj[0.097]',
	   'SigmaL_TTj[0.017]',
	   'SigmaR_TTj[0.026]',
	   'S1_TTj[51.8]', 
	   'S2_TTj[22.3]', 
	   'S3_TTj[9.1]', 
	   'F1_TTj[0.35]', 
	   'F2_TTj[0.0002]'] 
others_TTj = ['Ntot_TTj[4.6e5,0.,1.e7]']



