
[MuMu]
variables = ['MR[1900.,300.000,2500.000]', 'Rsq[0.29,0.15,1.5]', 'nBtag[1.,1.,4.]','CHARGE[1.,-1.,1.]']
variables_range = ['MR_LowRsq[350.,2500.]','Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[1.,1.,4.]',
		'MR_LowMR[300.,400.]','Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[1.,1.,4.]',
		'MR_HighMR[400.,2500.]','Rsq_HighMR[0.15,1.5]', 'nBtag_HighMR[1.,1.,4.]']
# TTj1b
pdf_TTj1b = ['MR0_TTj1b[-300, -700, 0.]', 'R0_TTj1b[-0.15,-1.,0.]', 'b_TTj1b[1.,0.0001,3.0]', 'n_TTj1b[3.7,0.5,10.0]']
others_TTj1b = ['Ntot_TTj1b[18000.,0.,1000000.]']
btag_TTj1b = ['f1_TTj1b[1., 0., 1.]','f2_TTj1b[0., 0., 1.]','f3_TTj1b[0., 0., 1.]']
# TTj2b
pdf_TTj2b = ['MR0_TTj2b[-300, -700, 0.]', 'R0_TTj2b[-0.15,-1.,0.]', 'b_TTj2b[1.,0.0001,3.0]', 'n_TTj2b[3.7,0.8,6.0]']
others_TTj2b = ['Ntot_TTj2b[2000.,0.,1000000.]']
btag_TTj2b = ['f1_TTj2b[0., 0., 1.]','f3_TTj2b[0., 0., 1.]']
 # Vpj
pdf_Vpj = ['MR0_Vpj[-300, -700, 0.]', 'R0_Vpj[-0.15,-1.,0.]', 'b_Vpj[.8,0.0001,3.0]', 'n_Vpj[1.,0.8,6.0]']
others_Vpj = ['Ntot_Vpj[0.,0.,1000000.]']
btag_Vpj = ['f1_Vpj[1., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]']
# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']

[MuEle]
variables = ['MR[1900.,300.000,2500.000]', 'Rsq[0.29,0.15,1.5]', 'nBtag[1.,1.,4.]','CHARGE[1.,-1.,1.]']
variables_range = ['MR_LowRsq[350.,2500.]','Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[1.,1.,4.]',
		'MR_LowMR[300.,400.]','Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[1.,1.,4.]',
		'MR_HighMR[400.,2500.]','Rsq_HighMR[0.15,1.5]', 'nBtag_HighMR[1.,1.,4.]']
# TTj1b
pdf_TTj1b = ['MR0_TTj1b[-600, -7000, 0.]', 'R0_TTj1b[-0.4,-5.,0.]', 'b_TTj1b[0.02,0.0001,5.0]', 'n_TTj1b[1.,0.5,10.0]']
others_TTj1b = ['Ntot_TTj1b[18000.,0.,1000000.]']
btag_TTj1b = ['f1_TTj1b[1., 0., 1.]','f2_TTj1b[0., 0., 1.]','f3_TTj1b[0., 0., 1.]']
# TTj2b
pdf_TTj2b = ['MR0_TTj2b[-300, -700, 0.]', 'R0_TTj2b[-0.15,-1.,0.]', 'b_TTj2b[1.,0.0001,5.0]', 'n_TTj2b[3.7,0.8,6.0]']
others_TTj2b = ['Ntot_TTj2b[2000.,0.,1000000.]']
btag_TTj2b = ['f1_TTj2b[0., 0., 1.]','f3_TTj2b[0., 0., 1.]']
 # Vpj
pdf_Vpj = ['MR0_Vpj[-300, -700, 0.]', 'R0_Vpj[-0.15,-1.,0.]', 'b_Vpj[.8,0.0001,3.0]', 'n_Vpj[1.,0.8,6.0]']
others_Vpj = ['Ntot_Vpj[0.,0.,1000000.]']
btag_Vpj = ['f1_Vpj[1., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]']
# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']

[EleEle]
variables = ['MR[1900.,300.000,2500.000]', 'Rsq[0.29,0.15,1.5]', 'nBtag[1.,1.,4.]','CHARGE[1.,-1.,1.]']
variables_range = ['MR_LowRsq[350.,2500.]','Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[1.,1.,4.]',
		'MR_LowMR[300.,400.]','Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[1.,1.,4.]',
		'MR_HighMR[400.,2500.]','Rsq_HighMR[0.15,1.5]', 'nBtag_HighMR[1.,1.,4.]']
# TTj1b
pdf_TTj1b = ['MR0_TTj1b[-300, -2000, 0.]', 'R0_TTj1b[-0.15,-1.,0.]', 'b_TTj1b[1.,0.0001,5.0]', 'n_TTj1b[3.7,0.5,10.0]']
others_TTj1b = ['Ntot_TTj1b[18000.,0.,1000000.]']
btag_TTj1b = ['f1_TTj1b[1., 0., 1.]','f2_TTj1b[0., 0., 1.]','f3_TTj1b[0., 0., 1.]']
# TTj2b
pdf_TTj2b = ['MR0_TTj2b[-300, -700, 0.]', 'R0_TTj2b[-0.15,-1.,0.]', 'b_TTj2b[1.,0.0001,5.0]', 'n_TTj2b[3.7,0.8,6.0]']
others_TTj2b = ['Ntot_TTj2b[2000.,0.,1000000.]']
btag_TTj2b = ['f1_TTj2b[0., 0., 1.]','f3_TTj2b[0., 0., 1.]']
 # Vpj
pdf_Vpj = ['MR0_Vpj[-300, -700, 0.]', 'R0_Vpj[-0.15,-1.,0.]', 'b_Vpj[.8,0.0001,3.0]', 'n_Vpj[1.,0.8,6.0]']
others_Vpj = ['Ntot_Vpj[0.,0.,1000000.]']
btag_Vpj = ['f1_Vpj[1., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]']
# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']

[Mu]
variables = ['MR[1900.,300.000,2500.000]', 'Rsq[0.29,0.15,1.5]', 'nBtag[1.,1.,4.]','CHARGE[1.,-1.,1.]']
variables_range = ['MR_LowRsq[350.,2500.]','Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[1.,1.,4.]',
		'MR_LowMR[300.,400.]','Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[1.,1.,4.]',
		'MR_HighMR[400.,2500.]','Rsq_HighMR[0.15,1.5]', 'nBtag_HighMR[1.,1.,4.]']
# TTj1b
pdf_TTj1b = ['MR0_TTj1b[-300, -1000, 0.]', 'R0_TTj1b[-0.15,-2.,0.]', 'b_TTj1b[1.,0.0001,5.0]', 'n_TTj1b[3.7,0.5,10.0]']
others_TTj1b = ['Ntot_TTj1b[18000.,0.,1000000.]']
btag_TTj1b = ['f1_TTj1b[1., 0., 1.]','f2_TTj1b[0., 0., 1.]','f3_TTj1b[0., 0., 1.]']
# TTj2b
pdf_TTj2b = ['MR0_TTj2b[-300, -1000, 0.]', 'R0_TTj2b[-0.15,-2.,0.]', 'b_TTj2b[1.,0.0001,5.0]', 'n_TTj2b[3.7,0.8,10.0]']
others_TTj2b = ['Ntot_TTj2b[2000.,0.,1000000.]']
btag_TTj2b = ['f1_TTj2b[0., 0., 1.]','f3_TTj2b[0.1, 0., 1.]']
 # Vpj
pdf_Vpj = ['MR0_Vpj[-300, -700, 0.]', 'R0_Vpj[-0.15,-1.,0.]', 'b_Vpj[.8,0.0001,3.0]', 'n_Vpj[1.,0.8,6.0]']
others_Vpj = ['Ntot_Vpj[0.,0.,1000000.]']
btag_Vpj = ['f1_Vpj[1., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]']
# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']

[MuTau]
variables = ['MR[1900.,300.000,2500.000]', 'Rsq[0.29,0.15,1.5]', 'nBtag[1.,1.,4.]','CHARGE[1.,-1.,1.]']
variables_range = ['MR_LowRsq[350.,2500.]','Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[1.,1.,4.]',
		'MR_LowMR[300.,400.]','Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[1.,1.,4.]',
		'MR_HighMR[400.,2500.]','Rsq_HighMR[0.15,1.5]', 'nBtag_HighMR[1.,1.,4.]']
# TTj1b
pdf_TTj1b = ['MR0_TTj1b[-300, -1000, 300.]', 'R0_TTj1b[-0.15,-2.,0.]', 'b_TTj1b[1.,0.0001,50.0]', 'n_TTj1b[2.7,0.5,100.0]']
others_TTj1b = ['Ntot_TTj1b[18000.,0.,1000000.]']
btag_TTj1b = ['f1_TTj1b[1., 0., 1.]','f2_TTj1b[0., 0., 1.]','f3_TTj1b[0., 0., 1.]']
# TTj2b
pdf_TTj2b = ['MR0_TTj2b[-300, -1000, 50.]', 'R0_TTj2b[-0.15,-2.,0.]', 'b_TTj2b[1.,0.0001,5.0]', 'n_TTj2b[2.7,0.8,10.0]']
others_TTj2b = ['Ntot_TTj2b[2000.,0.,1000000.]']
btag_TTj2b = ['f1_TTj2b[0., 0., 1.]','f3_TTj2b[0.1, 0., 1.]']
 # Vpj
pdf_Vpj = ['MR0_Vpj[-300, -700, 0.]', 'R0_Vpj[-0.15,-1.,0.]', 'b_Vpj[.8,0.0001,3.0]', 'n_Vpj[1.,0.8,6.0]']
others_Vpj = ['Ntot_Vpj[0.,0.,1000000.]']
btag_Vpj = ['f1_Vpj[1., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]']
# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']


[EleTau]
variables = ['MR[1900.,300.000,2500.000]', 'Rsq[0.29,0.15,1.5]', 'nBtag[1.,1.,4.]','CHARGE[1.,-1.,1.]']
variables_range = ['MR_LowRsq[350.,2500.]','Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[1.,1.,4.]',
		'MR_LowMR[300.,400.]','Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[1.,1.,4.]',
		'MR_HighMR[400.,2500.]','Rsq_HighMR[0.15,1.5]', 'nBtag_HighMR[1.,1.,4.]']
# TTj1b
pdf_TTj1b = ['MR0_TTj1b[-300, -5000, 0.]', 'R0_TTj1b[-0.15,-50.,0.]', 'b_TTj1b[10.,0.0001,50.0]', 'n_TTj1b[30.7,0.5,100.0]']
others_TTj1b = ['Ntot_TTj1b[18000.,0.,1000000.]']
btag_TTj1b = ['f1_TTj1b[1., 0., 1.]','f2_TTj1b[0., 0., 1.]','f3_TTj1b[0., 0., 1.]']
# TTj2b
pdf_TTj2b = ['MR0_TTj2b[-300, -5000, 0.]', 'R0_TTj2b[-0.15,-50.,0.]', 'b_TTj2b[1.,0.0001,5.0]', 'n_TTj2b[3.7,0.8,10.0]']
others_TTj2b = ['Ntot_TTj2b[2000.,0.,1000000.]']
btag_TTj2b = ['f1_TTj2b[0., 0., 1.]','f3_TTj2b[0.1, 0., 1.]']
 # Vpj
pdf_Vpj = ['MR0_Vpj[-300, -700, 0.]', 'R0_Vpj[-0.15,-1.,0.]', 'b_Vpj[.8,0.0001,3.0]', 'n_Vpj[1.,0.8,6.0]']
others_Vpj = ['Ntot_Vpj[0.,0.,1000000.]']
btag_Vpj = ['f1_Vpj[1., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]']
# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']


[Ele]
variables = ['MR[1900.,300.000,2500.000]', 'Rsq[0.29,0.15,1.5]', 'nBtag[1.,1.,4.]','CHARGE[1.,-1.,1.]']
variables_range = ['MR_LowRsq[350.,2500.]','Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[1.,1.,4.]',
		'MR_LowMR[300.,400.]','Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[1.,1.,4.]',
		'MR_HighMR[400.,2500.]','Rsq_HighMR[0.15,1.5]', 'nBtag_HighMR[1.,1.,4.]']
# TTj1b
pdf_TTj1b = ['MR0_TTj1b[-300, -1000, 300.]', 'R0_TTj1b[-0.15,-2.,0.]', 'b_TTj1b[1.,0.0001,5.0]', 'n_TTj1b[5.7,0.5,10.0]']
others_TTj1b = ['Ntot_TTj1b[18000.,0.,1000000.]']
btag_TTj1b = ['f1_TTj1b[1., 0., 1.]','f2_TTj1b[0., 0., 1.]','f3_TTj1b[0., 0., 1.]']
# TTj2b
pdf_TTj2b = ['MR0_TTj2b[-300, -1000, 300.]', 'R0_TTj2b[-0.15,-2.,0.]', 'b_TTj2b[1.,0.0001,5.0]', 'n_TTj2b[3.7,0.8,10.0]']
others_TTj2b = ['Ntot_TTj2b[2000.,0.,1000000.]']
btag_TTj2b = ['f1_TTj2b[0., 0., 1.]','f3_TTj2b[0.1, 0., 1.]']
 # Vpj
pdf_Vpj = ['MR0_Vpj[-300, -700, 0.]', 'R0_Vpj[-0.15,-1.,0.]', 'b_Vpj[.8,0.0001,3.0]', 'n_Vpj[1.,0.8,6.0]']
others_Vpj = ['Ntot_Vpj[0.,0.,1000000.]']
btag_Vpj = ['f1_Vpj[1., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]']
# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']

[MultiJet]
variables = ['MR[1900.,400.000,2500.000]', 'Rsq[0.29,0.25,1.5]', 'nBtag[1.,1.,4.]','CHARGE[1.,-1.,1.]']
variables_range = ['MR_LowRsq[450.,2500.]','Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[1.,1.,4.]',
		'MR_LowMR[400.,500.]','Rsq_LowMR[0.3,1.5]', 'nBtag_LowMR[1.,1.,4.]',
		'MR_HighMR[500.,2500.]','Rsq_HighMR[0.25,1.5]', 'nBtag_HighMR[1.,1.,4.]']
# TTj1b
pdf_TTj1b = ['MR0_TTj1b[-300, -20000, 0.]', 'R0_TTj1b[-0.15,-20.,0.]', 'b_TTj1b[3.,0.0001,5.0]', 'n_TTj1b[5.7,0.5,10.0]']
others_TTj1b = ['Ntot_TTj1b[18000.,0.,1000000.]']
btag_TTj1b = ['f1_TTj1b[1., 0., 1.]','f2_TTj1b[0., 0., 1.]','f3_TTj1b[0., 0., 1.]']
# TTj2b
pdf_TTj2b = ['MR0_TTj2b[-300, -20000, 0.]', 'R0_TTj2b[-0.15,-2.,0.]', 'b_TTj2b[3.,0.0001,12.0]', 'n_TTj2b[5.7,0.8,16.0]']
others_TTj2b = ['Ntot_TTj2b[2000.,0.,1000000.]']
btag_TTj2b = ['f1_TTj2b[0., 0., 1.]','f3_TTj2b[0.1, 0., 1.]']
 # Vpj
pdf_Vpj = ['MR0_Vpj[-300, -700, 0.]', 'R0_Vpj[-0.15,-1.,0.]', 'b_Vpj[.8,0.0001,3.0]', 'n_Vpj[1.,0.8,6.0]']
others_Vpj = ['Ntot_Vpj[0.,0.,1000000.]']
btag_Vpj = ['f1_Vpj[1., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]']
# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']

[Jet]
variables = ['MR[1900.,400.000,2500.000]', 'Rsq[0.29,0.25,1.5]', 'nBtag[1.,1.,4.]','CHARGE[1.,-1.,1.]']
variables_range = ['MR_LowRsq[450.,2500.]','Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[1.,1.,4.]',
		'MR_LowMR[400.,500.]','Rsq_LowMR[0.3,1.5]', 'nBtag_LowMR[1.,1.,4.]',
		'MR_HighMR[500.,2500.]','Rsq_HighMR[0.25,1.5]', 'nBtag_HighMR[1.,1.,4.]']
# TTj1b
pdf_TTj1b = ['MR0_TTj1b[-300, -20000, 0.]', 'R0_TTj1b[-0.15,-20.,0.]', 'b_TTj1b[3.,0.0001,150.0]', 'n_TTj1b[5.7,0.5,600.0]']
others_TTj1b = ['Ntot_TTj1b[18000.,0.,1000000.]']
btag_TTj1b = ['f1_TTj1b[1., 0., 1.]','f2_TTj1b[0., 0., 1.]','f3_TTj1b[0., 0., 1.]']
# TTj2b
pdf_TTj2b = ['MR0_TTj2b[-300, -20000, 0.]', 'R0_TTj2b[-0.15,-2.,0.]', 'b_TTj2b[3.,0.0001,12.0]', 'n_TTj2b[5.7,0.8,16.0]']
others_TTj2b = ['Ntot_TTj2b[2000.,0.,1000000.]']
btag_TTj2b = ['f1_TTj2b[0., 0., 1.]','f3_TTj2b[0.1, 0., 1.]']
 # Vpj
pdf_Vpj = ['MR0_Vpj[-300, -700, 0.]', 'R0_Vpj[-0.15,-1.,0.]', 'b_Vpj[.8,0.0001,3.0]', 'n_Vpj[1.,0.8,6.0]']
others_Vpj = ['Ntot_Vpj[0.,0.,1000000.]']
btag_Vpj = ['f1_Vpj[1., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]']
# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']


[TauTauJet]
variables = ['MR[1900.,400.000,2500.000]', 'Rsq[0.29,0.25,1.5]', 'nBtag[1.,1.,4.]','CHARGE[1.,-1.,1.]']
variables_range = ['MR_LowRsq[450.,2500.]','Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[1.,1.,4.]',
		'MR_LowMR[400.,500.]','Rsq_LowMR[0.3,1.5]', 'nBtag_LowMR[1.,1.,4.]',
		'MR_HighMR[500.,2500.]','Rsq_HighMR[0.25,1.5]', 'nBtag_HighMR[1.,1.,4.]']
# TTj1b
pdf_TTj1b = ['MR0_TTj1b[-300, -20000, 0.]', 'R0_TTj1b[-0.15,-20.,0.]', 'b_TTj1b[.01,0.0001,5.0]', 'n_TTj1b[1.,0.5,160.0]']
others_TTj1b = ['Ntot_TTj1b[18000.,0.,1000000.]']
btag_TTj1b = ['f1_TTj1b[1., 0., 1.]','f2_TTj1b[0., 0., 1.]','f3_TTj1b[0., 0., 1.]']
# TTj2b
pdf_TTj2b = ['MR0_TTj2b[-300, -20000, 0.]', 'R0_TTj2b[-0.15,-2.,0.]', 'b_TTj2b[1.,0.0001,5.0]', 'n_TTj2b[3.7,0.5,10.0]']
others_TTj2b = ['Ntot_TTj2b[2000.,0.,1000000.]']
btag_TTj2b = ['f1_TTj2b[0., 0., 1.]','f3_TTj2b[0., 0., 1.]']
 # Vpj
pdf_Vpj = ['MR0_Vpj[-300, -700, 0.]', 'R0_Vpj[-0.15,-1.,0.]', 'b_Vpj[.8,0.0001,3.0]', 'n_Vpj[1.,0.8,6.0]']
others_Vpj = ['Ntot_Vpj[0.,0.,1000000.]']
btag_Vpj = ['f1_Vpj[1., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]']
# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']
