[MuEle]
variables = ['MR[1900.00000,300.000,4500.000]', 'Rsq[0.29500,0.110,1.500]', 'nBtag[0,0.,5.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[300.,4500.]','Rsq_FULL[0.11,1.50]', 'nBtag_FULL[0,0.,5.]',
		'MR_fR1[300.,1000.]','Rsq_fR1[0.11,0.3]', 'nBtag_fR1[0,0.,5.]',
		'MR_fR2[300.,500.]','Rsq_fR3[0.30,1.50]', 'nBtag_fR3[0,0.,5.]']
# TTj
pdf_TTj = ['MR0_TTj[0]', 'MR0_TTj_s[0]', 'R0_TTj[0]', 'R0_TTj_s[0]', 'b_TTj[0.10,0.0001,1.000]', 'b_TTj_s[10.]']
others_TTj = ['Lumi[5036]', 'Ntot_TTj[10,0.,1000.]','fplus_TTj[0.5, 0., 1.]']
btag_TTj = ['f1_TTj[0.39, 0., 1.]','f2_TTj[0.17, 0., 1.]','f3_TTj[0.0035, 0., 1.]','f4_TTj[0., 0., 1.]']
# Vpj	 
pdf_Vpj = ['MR0_Vpj[0]', 'MR0_Vpj_s[0]', 'R0_Vpj[0]', 'R0_Vpj_s[0]', 'b_Vpj[0.10,0.0001,1.000]', 'b_Vpj_s[10.]']
others_Vpj = ['Ntot_Vpj[140,0.,1000.]','fplus_Vpj[0.5, 0., 1.]']
btag_Vpj = ['f1_Vpj[0.39, 0., 1.]','f2_Vpj[0.17, 0., 1.]','f3_Vpj[0.0035, 0., 1.]','f4_Vpj[0., 0., 1.]']
# UEC
pdf_UEC = ['MR0_UEC[-106, -200, 250.]', 'MR0_UEC_s[38]', 'R0_UEC[-0.190,-2.0,0.0]', 'R0_UEC_s[0.025]', 'b_UEC[0.023,0.001,2.0]', 'b_UEC_s[0.016]']
others_UEC = ['Ntot_UEC[200.,0.,1000.]','fplus_UEC[0.5, 0., 1.]']
btag_UEC = ['f1_UEC[0.31, 0., 1.]','f2_UEC[0.15, 0., 1.]','f3_UEC[0.011, 0., 1.]','f4_UEC[0.0, 0., 1.]']

[MuMu]
variables = ['MR[1900.00000,300.000,4500.000]', 'Rsq[0.29500,0.110,1.50]', 'nBtag[0,0.,5.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[300.,4500.]','Rsq_FULL[0.11,1.50]', 'nBtag_FULL[0,0.,5.]',
		'MR_fR1[300.,1000.]','Rsq_fR1[0.11,0.3]', 'nBtag_fR1[0,0.,5.]',
		'MR_fR2[300.,500.]','Rsq_fR3[0.30,1.50]', 'nBtag_fR3[0,0.,5.]']
# TTj
pdf_TTj = ['MR0_TTj[0]', 'MR0_TTj_s[0]', 'R0_TTj[0]', 'R0_TTj_s[0]', 'b_TTj[0.10,0.0001,1.000]', 'b_TTj_s[10.]']
others_TTj = ['Lumi[4959]', 'Ntot_TTj[140000,10.,1000000.]']
btag_TTj = ['f1_TTj[0.39, 0., 1.]','f2_TTj[0.17, 0., 1.]','f3_TTj[0.0035, 0., 1.]','f4_TTj[0., 0., 1.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[0]', 'MR0_Vpj_s[0]', 'R0_Vpj[0]', 'R0_Vpj_s[0]', 'b_Vpj[0.10,0.0001,1.000]', 'b_Vpj_s[10.]']
others_Vpj = ['Ntot_Vpj[140000,10.,1000000.]']
btag_Vpj = ['f1_Vpj[0.39, 0., 1.]','f2_Vpj[0.17, 0., 1.]','f3_Vpj[0.0035, 0., 1.]','f4_Vpj[0., 0., 1.]']
# UEC
pdf_UEC = ['MR0_UEC[-106, -200, 250.]', 'MR0_UEC_s[38]', 'R0_UEC[-0.190,-2.0,0.0]', 'R0_UEC_s[0.025]', 'b_UEC[0.023,0.0001,2.0]', 'b_UEC_s[0.016]']
others_UEC = ['Ntot_UEC[200000.,10.,1000000.]']
btag_UEC = ['f1_UEC[0.31, 0., 1.]','f2_UEC[0.15, 0., 1.]','f3_UEC[0.011, 0., 1.]','f4_UEC[0.0004, 0., 1.]']

[EleEle]
variables = ['MR[1900.00000,300.000,4500.000]', 'Rsq[0.29500,0.110,1.500]', 'nBtag[0,0.,5.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[300.,4500.]','Rsq_FULL[0.11,1.50]', 'nBtag_FULL[0,0.,5.]',
		'MR_fR1[300.,1000.]','Rsq_fR1[0.11,0.3]', 'nBtag_fR1[0,0.,5.]',
		'MR_fR2[300.,500.]','Rsq_fR3[0.30,1.50]', 'nBtag_fR3[0,0.,5.]']
# TTj
pdf_TTj = ['MR0_TTj[0]', 'MR0_TTj_s[0]', 'R0_TTj[0]', 'R0_TTj_s[0]', 'b_TTj[0.10,0.0001,1.000]', 'b_TTj_s[10.]']
others_TTj = ['Lumi[5036]', 'Ntot_TTj[140,10.,1000000.]']
btag_TTj = ['f1_TTj[0.39, 0., 1.]','f2_TTj[0.17, 0., 1.]','f3_TTj[0.0035, 0., 1.]','f4_TTj[0., 0., 1.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[0]', 'MR0_Vpj_s[0]', 'R0_Vpj[0]', 'R0_Vpj_s[0]', 'b_Vpj[0.10,0.0001,1.000]', 'b_Vpj_s[10.]']
others_Vpj = ['Ntot_Vpj[140,10.,1000000.]']
btag_Vpj = ['f1_Vpj[0.39, 0., 1.]','f2_Vpj[0.17, 0., 1.]','f3_Vpj[0.0035, 0., 1.]','f4_Vpj[0., 0., 1.]']
# UEC
pdf_UEC = ['MR0_UEC[-106, -200, 250.]', 'MR0_UEC_s[38]', 'R0_UEC[-0.190,-2.0,0.0]', 'R0_UEC_s[0.025]', 'b_UEC[0.023,0.0001,2.0]', 'b_UEC_s[0.016]']
others_UEC = ['Ntot_UEC[200.,10.,1000000.]']
btag_UEC = ['f1_UEC[0.31, 0., 1.]','f2_UEC[0.15, 0., 1.]','f3_UEC[0.011, 0., 1.]','f4_UEC[0.0004, 0., 1.]']

[MuTau]
variables = ['MR[1900.00000,300.000,4500.000]', 'Rsq[0.29500,0.110,1.500]', 'nBtag[0,0.,5.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[300.,4500.]','Rsq_FULL[0.11,1.50]', 'nBtag_FULL[0,0.,5.]',
		'MR_fR1[300.,1000.]','Rsq_fR1[0.11,0.3]', 'nBtag_fR1[0,0.,5.]',
		'MR_fR2[300.,500.]','Rsq_fR3[0.30,1.50]', 'nBtag_fR3[0,0.,5.]']
# TTj
pdf_TTj = ['MR0_TTj[0]', 'MR0_TTj_s[0]', 'R0_TTj[0]', 'R0_TTj_s[0]', 'b_TTj[0.10,0.0001,1.000]', 'b_TTj_s[10.]']
others_TTj = ['Lumi[4959]', 'Ntot_TTj[14000,10.,1000000.]']
btag_TTj = ['f1_TTj[0.39, 0., 1.]','f2_TTj[0.17, 0., 1.]','f3_TTj[0.0035, 0., 1.]','f4_TTj[0., 0., 1.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[0]', 'MR0_Vpj_s[0]', 'R0_Vpj[0]', 'R0_Vpj_s[0]', 'b_Vpj[0.10,0.0001,1.000]', 'b_Vpj_s[10.]']
others_Vpj = ['Ntot_Vpj[14000,10.,1000000.]']
btag_Vpj = ['f1_Vpj[0.39, 0., 1.]','f2_Vpj[0.17, 0., 1.]','f3_Vpj[0.0035, 0., 1.]','f4_Vpj[0., 0., 1.]']
# UEC
pdf_UEC = ['MR0_UEC[-106, -200, 250.]', 'MR0_UEC_s[38]', 'R0_UEC[-0.190,-2.0,0.0]', 'R0_UEC_s[0.025]', 'b_UEC[0.023,0.0001,2.0]', 'b_UEC_s[0.016]']
others_UEC = ['Ntot_UEC[20000.,10.,1000000.]']
btag_UEC = ['f1_UEC[0.31, 0., 1.]','f2_UEC[0.15, 0., 1.]','f3_UEC[0.011, 0., 1.]','f4_UEC[0.0004, 0., 1.]']

[Mu]
variables = ['MR[1900.00000,300.000,4500.000]', 'Rsq[0.29500,0.110,1.50]', 'nBtag[0,0.,5.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[300.,4500.]','Rsq_FULL[0.11,1.50]', 'nBtag_FULL[0,0.,5.]',
		'MR_fR1[300.,1000.]','Rsq_fR1[0.11,0.3]', 'nBtag_fR1[0,0.,5.]',
		'MR_fR2[300.,500.]','Rsq_fR3[0.30,1.50]', 'nBtag_fR3[0,0.,5.]']
# TTj
pdf_TTj = ['MR0_TTj[0]', 'MR0_TTj_s[0]', 'R0_TTj[0]', 'R0_TTj_s[0]', 'b_TTj[0.10,0.0001,1.000]', 'b_TTj_s[10.]']
others_TTj = ['Lumi[4959]', 'Ntot_TTj[4000,10.,1000000.]']
btag_TTj = ['f1_TTj[0.39, 0., 1.]','f2_TTj[0.17, 0., 1.]','f3_TTj[0.0035, 0., 1.]','f4_TTj[0., 0., 1.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[0]', 'MR0_Vpj_s[0]', 'R0_Vpj[0]', 'R0_Vpj_s[0]', 'b_Vpj[0.10,0.0001,1.000]', 'b_Vpj_s[10.]']
others_Vpj = ['Ntot_Vpj[4000,10.,1000000.]']
btag_Vpj = ['f1_Vpj[0.39, 0., 1.]','f2_Vpj[0.17, 0., 1.]','f3_Vpj[0.0035, 0., 1.]','f4_Vpj[0., 0., 1.]']
# UEC
pdf_UEC = ['MR0_UEC[-106, -600, 250.]', 'MR0_UEC_s[38]', 'R0_UEC[-0.190,-2.0,0.0]', 'R0_UEC_s[0.025]', 'b_UEC[0.023,0.0001,2.0]', 'b_UEC_s[0.016]']
others_UEC = ['Ntot_UEC[200.,10.,1000000.]']
btag_UEC = ['f1_UEC[0.31, 0., 1.]','f2_UEC[0.15, 0., 1.]','f3_UEC[0.011, 0., 1.]','f4_UEC[0.0004, 0., 1.]']

[EleTau]
variables = ['MR[1900.00000,300.000,4500.000]', 'Rsq[0.29500,0.110,1.500]', 'nBtag[0,0.,5.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[300.,4500.]','Rsq_FULL[0.11,1.50]', 'nBtag_FULL[0,0.,5.]',
		'MR_fR1[300.,1000.]','Rsq_fR1[0.11,0.3]', 'nBtag_fR1[0,0.,5.]',
		'MR_fR2[300.,500.]','Rsq_fR3[0.30,1.50]', 'nBtag_fR3[0,0.,5.]']
# TTj
pdf_TTj = ['MR0_TTj[0]', 'MR0_TTj_s[0]', 'R0_TTj[0]', 'R0_TTj_s[0]', 'b_TTj[0.10,0.0001,1.000]', 'b_TTj_s[10.]']
others_TTj = ['Lumi[5036]', 'Ntot_TTj[1400,0.,100000.]']
btag_TTj = ['f1_TTj[0.39, 0., 1.]','f2_TTj[0.17, 0., 1.]','f3_TTj[0.0035, 0., 1.]','f4_TTj[0., 0., 1.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[0]', 'MR0_Vpj_s[0]', 'R0_Vpj[0]', 'R0_Vpj_s[0]', 'b_Vpj[0.10,0.0001,1.000]', 'b_Vpj_s[10.]']
others_Vpj = ['Ntot_Vpj[1400,0.,1000000.]']
btag_Vpj = ['f1_Vpj[0.39, 0., 1.]','f2_Vpj[0.17, 0., 1.]','f3_Vpj[0.0035, 0., 1.]','f4_Vpj[0., 0., 1.]']
# UEC
pdf_UEC = ['MR0_UEC[-106, -200, 250.]', 'MR0_UEC_s[38]', 'R0_UEC[-0.190,-2.0,0.0]', 'R0_UEC_s[0.025]', 'b_UEC[0.023,0.0001,2.0]', 'b_UEC_s[0.016]']
others_UEC = ['Ntot_UEC[2000.,0.,1000000.]']
btag_UEC = ['f1_UEC[0.31, 0., 1.]','f2_UEC[0.15, 0., 1.]','f3_UEC[0.011, 0., 1.]','f4_UEC[0.0004, 0., 1.]']

[Ele]
variables = ['MR[1900.00000,300.000,4500.000]', 'Rsq[0.29500,0.110,1.5]', 'nBtag[0,0.,5.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[300.,4500.]','Rsq_FULL[0.11,1.5]', 'nBtag_FULL[0,0.,5.]',
		'MR_fR1[300.,1000.]','Rsq_fR1[0.11,0.3]', 'nBtag_fR1[0,0.,5.]',
		'MR_fR2[300.,500.]','Rsq_fR3[0.30,1.50]', 'nBtag_fR3[0,0.,5.]']
# TTj
pdf_TTj = ['MR0_TTj[-106, -230, 250.]', 'MR0_TTj_s[38]', 'R0_TTj[-0.190,-2.0,0.0]', 'R0_TTj_s[0.025]', 'b_TTj[0.10,0.0001,10.000]', 'b_TTj_s[10.]']
others_TTj = ['Lumi[5036]', 'Ntot_TTj[5000,0.,100000.]']
btag_TTj = ['f1_TTj[0.48, 0.30, 0.60.]','f2_TTj[0.22, 0.10, 0.30]','f3_TTj[0.015, 0., 0.05]','f4_TTj[0.0003, 0., 0.1]']
# Vpj
pdf_Vpj = ['MR0_Vpj[0]', 'MR0_Vpj_s[0]', 'R0_Vpj[0]', 'R0_Vpj_s[0]', 'b_Vpj[0.10,0.0001,10.000]', 'b_Vpj_s[10.]']
others_Vpj = ['Ntot_Vpj[5000,0.,100000.]']
btag_Vpj = ['f1_Vpj[0.05, 0., 0.2]','f2_Vpj[0.0001, 0., 0.01]','f3_Vpj[0.0]','f4_Vpj[0.0]']
# UEC
pdf_UEC = ['MR0_UEC[-106, -230, 250.]', 'MR0_UEC_s[38]', 'R0_UEC[-0.190,-2.0,0.0]', 'R0_UEC_s[0.025]', 'b_UEC[0.023,0.0001,200.0]', 'b_UEC_s[0.016]']
others_UEC = ['Ntot_UEC[100.,0.,10000.]']
btag_UEC = ['f1_UEC[0.31, 0., 1.]','f2_UEC[0.15, 0., 1.]','f3_UEC[0.011, 0., 1.]','f4_UEC[0.0004, 0., 1.]']

[TauTau]
variables = ['MR[1900.00000,400.000,4500.000]', 'Rsq[0.29500,0.180,1.50]', 'nBtag[0,0.,5.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[400.,4500.]','Rsq_FULL[0.18,1.5]', 'nBtag_FULL[0,0.,5.]',
		'MR_fR1[400.,1000.]','Rsq_fR1[0.18,0.3]', 'nBtag_fR1[0,0.,5.]',
		'MR_fR2[400.,500.]','Rsq_fR3[0.30,1.50]', 'nBtag_fR3[0,0.,5.]']
# TTj
pdf_TTj = ['MR0_TTj[0]', 'MR0_TTj_s[0]', 'R0_TTj[0]', 'R0_TTj_s[0]', 'b_TTj[0.10,0.0001,1.000]', 'b_TTj_s[10.]']
others_TTj = ['Lumi[5000]', 'Ntot_TTj[14000,10.,100000.]']
btag_TTj = ['f1_TTj[0.39, 0., 1.]','f2_TTj[0.17, 0., 1.]','f3_TTj[0.0035, 0., 1.]','f4_TTj[0., 0., 1.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[0]', 'MR0_Vpj_s[0]', 'R0_Vpj[0]', 'R0_Vpj_s[0]', 'b_Vpj[0.10,0.0001,1.000]', 'b_Vpj_s[10.]']
others_Vpj = ['Ntot_Vpj[14000,10.,100000.]']
btag_Vpj = ['f1_Vpj[0.39, 0., 1.]','f2_Vpj[0.17, 0., 1.]','f3_Vpj[0.0035, 0., 1.]','f4_Vpj[0., 0., 1.]']
# UEC
pdf_UEC = ['MR0_UEC[-106, -200, 250.]', 'MR0_UEC_s[38]', 'R0_UEC[-0.190,-2.0,0.0]', 'R0_UEC_s[0.025]', 'b_UEC[0.023,0.0001,6.0]', 'b_UEC_s[0.016]']
others_UEC = ['Ntot_UEC[20000.,10.,100000.]']
btag_UEC = ['f1_UEC[0.31, 0., 1.]','f2_UEC[0.15, 0., 1.]','f3_UEC[0.011, 0., 1.]','f4_UEC[0.0004, 0., 1.]']

[Had]
#variables = ['MR[1900.00000,400.000,4500.000]',
#'Rsq[0.29500,0.180,1.500]', 'nBtag[0,0.,5.]','CHARGE[1.,-1,1]']
variables = ['MR[1900.00000,400.000,4500.000]', 'Rsq[0.29500,0.180,1.50]', 'nBtag[0,0.,5.]']
variables_range = ['MR_FULL[400.,4500.]','Rsq_FULL[0.18,1.50]', 'nBtag_FULL[0,0.,5.]',
		'MR_fR1[400.,1000.]','Rsq_fR1[0.18,0.3]', 'nBtag_fR1[0,0.,5.]',
		'MR_fR2[400.,500.]','Rsq_fR3[0.30,1.50]', 'nBtag_fR3[0,0.,5.]']
# TTj
pdf_TTj = ['MR0_TTj[0]', 'MR0_TTj_s[0]', 'R0_TTj[0]', 'R0_TTj_s[0]', 'b_TTj[0.10,0.0001,1.000]', 'b_TTj_s[10.]']
others_TTj = ['Lumi[5000]', 'Ntot_TTj[14000,10.,100000.]']
btag_TTj = ['f1_TTj[0.39, 0., 1.]','f2_TTj[0.17, 0., 1.]','f3_TTj[0.0035, 0., 1.]','f4_TTj[0., 0., 1.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[0]', 'MR0_Vpj_s[0]', 'R0_Vpj[0]', 'R0_Vpj_s[0]', 'b_Vpj[0.10,0.0001,1.000]', 'b_Vpj_s[10.]']
others_Vpj = ['Ntot_Vpj[14000,10.,100000.]']
btag_Vpj = ['f1_Vpj[0.39, 0., 1.]','f2_Vpj[0.17, 0., 1.]','f3_Vpj[0.0035, 0., 1.]','f4_Vpj[0., 0., 1.]']
# UEC
pdf_UEC = ['MR0_UEC[-106, -600, 250.]', 'MR0_UEC_s[38]', 'R0_UEC[-0.190,-2.0,0.0]', 'R0_UEC_s[0.025]', 'b_UEC[0.023,0.0001,2.0]', 'b_UEC_s[0.016]']
others_UEC = ['Ntot_UEC[20000.,10.,100000.]']
btag_UEC = ['f1_UEC[0.31, 0., 1.]','f2_UEC[0.15, 0., 1.]','f3_UEC[0.011, 0., 1.]','f4_UEC[0.0004, 0., 1.]']
