[MuMu]
variables = ['MR[1900.,300.000,2500.000]', 'Rsq[0.29,0.15,1.5]', 'nBtag[1.,1.,4.]','CHARGE[1.,-1.,1.]']
variables_range = ['MR_LowRsq[350.,2500.]','Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[1.,4.]',
		'MR_LowMR[300.,450.]','Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[1.,4.]',
		'MR_HighMR[450.,2500.]','Rsq_HighMR[0.15,1.5]', 'nBtag_HighMR[1.,4.]',
		'MR_LowRsq1b[350.,2500.]','Rsq_LowRsq1b[0.15,0.2]', 'nBtag_LowRsq1b[1.,2.]',
		'MR_LowMR1b[300.,450.]','Rsq_LowMR1b[0.2,1.5]', 'nBtag_LowMR1b[1.,2.]',
		'MR_HighMR1b[450.,2500.]','Rsq_HighMR1b[0.15,1.5]', 'nBtag_HighMR1b[1.,2.]',
		'MR_LowRsq2b[350.,2500.]','Rsq_LowRsq2b[0.15,0.2]', 'nBtag_LowRsq2b[2.,3.]',
		'MR_LowMR2b[300.,450.]','Rsq_LowMR2b[0.2,1.5]', 'nBtag_LowMR2b[2.,3.]',
		'MR_HighMR2b[450.,2500.]','Rsq_HighMR2b[0.15,1.5]', 'nBtag_HighMR2b[2.,3.]',
		'MR_LowRsq3b[350.,2500.]','Rsq_LowRsq3b[0.15,0.2]', 'nBtag_LowRsq3b[3.,4.]',
		'MR_LowMR3b[300.,450.]','Rsq_LowMR3b[0.2,1.5]', 'nBtag_LowMR3b[3.,4.]',
		'MR_HighMR3b[450.,2500.]','Rsq_HighMR3b[0.15,1.5]', 'nBtag_HighMR3b[3.,4.]']
# TTj1b
pdf_TTj1b = ['MR0_TTj1b[-300, -2000, 200.]', 'R0_TTj1b[-0.15,-2.,0.1]', 'b_TTj1b[1.,0.0001,15.0]', 'n_TTj1b[3.7,0.5,15.0]']
others_TTj1b = ['Ntot_TTj1b[18000.,0.,1000000.]']
btag_TTj1b = ['f1_TTj1b[1., 0., 1.]','f2_TTj1b[0., 0., 1.]','f3_TTj1b[0., 0., 1.]']
# TTj2b
pdf_TTj2b = ['MR0_TTj2b[-300, -2000, 200.]', 'R0_TTj2b[-0.15,-2.,0.1]', 'b_TTj2b[1.,0.0001,15.0]', 'n_TTj2b[3.7,0.5,15.0]']
others_TTj2b = ['Ntot_TTj2b[2000.,0.,1000000.]']
btag_TTj2b = ['f1_TTj2b[0., 0., 1.]','f3_TTj2b[0., 0., 1.]']
 # Vpj
pdf_Vpj = ['MR0_Vpj[-300, -700, 0.]', 'R0_Vpj[-0.15,-1.,0.]', 'b_Vpj[.8,0.0001,3.0]', 'n_Vpj[1.,0.8,6.0]']
others_Vpj = ['Ntot_Vpj[0.,0.,1000000.]']
btag_Vpj = ['f1_Vpj[1., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]']
# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']

[MuEle]
variables = ['MR[1900.,300.000,2500.000]', 'Rsq[0.29,0.15,1.5]', 'nBtag[1.,1.,4.]','CHARGE[1.,-1.,1.]']
variables_range = ['MR_LowRsq[350.,2500.]','Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[1.,4.]',
		'MR_LowMR[300.,450.]','Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[1.,4.]',
		'MR_HighMR[450.,2500.]','Rsq_HighMR[0.15,1.5]', 'nBtag_HighMR[1.,4.]',
		'MR_LowRsq1b[350.,2500.]','Rsq_LowRsq1b[0.15,0.2]', 'nBtag_LowRsq1b[1.,2.]',
		'MR_LowMR1b[300.,450.]','Rsq_LowMR1b[0.2,1.5]', 'nBtag_LowMR1b[1.,2.]',
		'MR_HighMR1b[450.,2500.]','Rsq_HighMR1b[0.15,1.5]', 'nBtag_HighMR1b[1.,2.]',
		'MR_LowRsq2b[350.,2500.]','Rsq_LowRsq2b[0.15,0.2]', 'nBtag_LowRsq2b[2.,3.]',
		'MR_LowMR2b[300.,450.]','Rsq_LowMR2b[0.2,1.5]', 'nBtag_LowMR2b[2.,3.]',
		'MR_HighMR2b[450.,2500.]','Rsq_HighMR2b[0.15,1.5]', 'nBtag_HighMR2b[2.,3.]',
		'MR_LowRsq3b[350.,2500.]','Rsq_LowRsq3b[0.15,0.2]', 'nBtag_LowRsq3b[3.,4.]',
		'MR_LowMR3b[300.,450.]','Rsq_LowMR3b[0.2,1.5]', 'nBtag_LowMR3b[3.,4.]',
		'MR_HighMR3b[450.,2500.]','Rsq_HighMR3b[0.15,1.5]', 'nBtag_HighMR3b[3.,4.]']
# TTj1b
pdf_TTj1b = ['MR0_TTj1b[-600, -2000, 200.]', 'R0_TTj1b[-0.4,-2.,0.1]', 'b_TTj1b[0.02,0.0001,15.0]', 'n_TTj1b[1.,0.5,15.0]']
others_TTj1b = ['Ntot_TTj1b[18000.,0.,1000000.]']
btag_TTj1b = ['f1_TTj1b[1., 0., 1.]','f2_TTj1b[0., 0., 1.]','f3_TTj1b[0., 0., 1.]']
# TTj2b
pdf_TTj2b = ['MR0_TTj2b[-300, -2000, 200.]', 'R0_TTj2b[-0.15,-2.,0.1]', 'b_TTj2b[1.,0.0001,15.0]', 'n_TTj2b[3.7,0.5,15.0]']
others_TTj2b = ['Ntot_TTj2b[2000.,0.,1000000.]']
btag_TTj2b = ['f1_TTj2b[0., 0., 1.]','f3_TTj2b[0., 0., 1.]']
 # Vpj
pdf_Vpj = ['MR0_Vpj[-300, -700, 0.]', 'R0_Vpj[-0.15,-1.,0.]', 'b_Vpj[.8,0.0001,3.0]', 'n_Vpj[1.,0.8,6.0]']
others_Vpj = ['Ntot_Vpj[0.,0.,1000000.]']
btag_Vpj = ['f1_Vpj[1., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]']
# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']

[EleEle]
variables = ['MR[1900.,300.000,2500.000]', 'Rsq[0.29,0.15,1.5]', 'nBtag[1.,1.,4.]','CHARGE[1.,-1.,1.]']
variables_range = ['MR_LowRsq[350.,2500.]','Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[1.,4.]',
		'MR_LowMR[300.,450.]','Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[1.,4.]',
		'MR_HighMR[450.,2500.]','Rsq_HighMR[0.15,1.5]', 'nBtag_HighMR[1.,4.]',
		'MR_LowRsq1b[350.,2500.]','Rsq_LowRsq1b[0.15,0.2]', 'nBtag_LowRsq1b[1.,2.]',
		'MR_LowMR1b[300.,450.]','Rsq_LowMR1b[0.2,1.5]', 'nBtag_LowMR1b[1.,2.]',
		'MR_HighMR1b[450.,2500.]','Rsq_HighMR1b[0.15,1.5]', 'nBtag_HighMR1b[1.,2.]',
		'MR_LowRsq2b[350.,2500.]','Rsq_LowRsq2b[0.15,0.2]', 'nBtag_LowRsq2b[2.,3.]',
		'MR_LowMR2b[300.,450.]','Rsq_LowMR2b[0.2,1.5]', 'nBtag_LowMR2b[2.,3.]',
		'MR_HighMR2b[450.,2500.]','Rsq_HighMR2b[0.15,1.5]', 'nBtag_HighMR2b[2.,3.]',
		'MR_LowRsq3b[350.,2500.]','Rsq_LowRsq3b[0.15,0.2]', 'nBtag_LowRsq3b[3.,4.]',
		'MR_LowMR3b[300.,450.]','Rsq_LowMR3b[0.2,1.5]', 'nBtag_LowMR3b[3.,4.]',
		'MR_HighMR3b[450.,2500.]','Rsq_HighMR3b[0.15,1.5]', 'nBtag_HighMR3b[3.,4.]']
# TTj1b
pdf_TTj1b = ['MR0_TTj1b[-300, -2000, 200.]', 'R0_TTj1b[-0.15,-2.,0.1]', 'b_TTj1b[1.,0.0001,15.0]', 'n_TTj1b[3.7,0.5,15.0]']
others_TTj1b = ['Ntot_TTj1b[18000.,0.,1000000.]']
btag_TTj1b = ['f1_TTj1b[1., 0., 1.]','f2_TTj1b[0., 0., 1.]','f3_TTj1b[0., 0., 1.]']
# TTj2b
pdf_TTj2b = ['MR0_TTj2b[-300, -2000, 200.]', 'R0_TTj2b[-0.15,-2.,0.1]', 'b_TTj2b[1.,0.0001,15.0]', 'n_TTj2b[3.7,0.5,15.0]']
others_TTj2b = ['Ntot_TTj2b[2000,0.,1000000.]']
btag_TTj2b = ['f1_TTj2b[0., 0., 1.]','f3_TTj2b[0., 0., 1.]']
 # Vpj
pdf_Vpj = ['MR0_Vpj[-300, -700, 0.]', 'R0_Vpj[-0.15,-1.,0.]', 'b_Vpj[.8,0.0001,3.0]', 'n_Vpj[1.,0.8,6.0]']
others_Vpj = ['Ntot_Vpj[0.,0.,1000000.]']
btag_Vpj = ['f1_Vpj[1., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]']
# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']

[Mu]
variables = ['MR[1900.,300.000,2500.000]', 'Rsq[0.29,0.15,1.5]', 'nBtag[1.,1.,4.]','CHARGE[1.,-1.,1.]']
variables_range = ['MR_LowRsq[350.,2500.]','Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[1.,4.]',
		'MR_LowMR[300.,450.]','Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[1.,4.]',
		'MR_HighMR[450.,2500.]','Rsq_HighMR[0.15,1.5]', 'nBtag_HighMR[1.,4.]',
		'MR_LowRsq1b[350.,2500.]','Rsq_LowRsq1b[0.15,0.2]', 'nBtag_LowRsq1b[1.,2.]',
		'MR_LowMR1b[300.,450.]','Rsq_LowMR1b[0.2,1.5]', 'nBtag_LowMR1b[1.,2.]',
		'MR_HighMR1b[450.,2500.]','Rsq_HighMR1b[0.15,1.5]', 'nBtag_HighMR1b[1.,2.]',
		'MR_LowRsq2b[350.,2500.]','Rsq_LowRsq2b[0.15,0.2]', 'nBtag_LowRsq2b[2.,3.]',
		'MR_LowMR2b[300.,450.]','Rsq_LowMR2b[0.2,1.5]', 'nBtag_LowMR2b[2.,3.]',
		'MR_HighMR2b[450.,2500.]','Rsq_HighMR2b[0.15,1.5]', 'nBtag_HighMR2b[2.,3.]',
		'MR_LowRsq3b[350.,2500.]','Rsq_LowRsq3b[0.15,0.2]', 'nBtag_LowRsq3b[3.,4.]',
		'MR_LowMR3b[300.,450.]','Rsq_LowMR3b[0.2,1.5]', 'nBtag_LowMR3b[3.,4.]',
		'MR_HighMR3b[450.,2500.]','Rsq_HighMR3b[0.15,1.5]', 'nBtag_HighMR3b[3.,4.]']
# TTj1b
pdf_TTj1b = ['MR0_TTj1b[-300, -2000, 200.]', 'R0_TTj1b[-0.15,-2.,0.1]', 'b_TTj1b[1.,0.0001,15.0]', 'n_TTj1b[3.7,0.5,15.0]']
others_TTj1b = ['Ntot_TTj1b[18000.,0.,1000000.]']
btag_TTj1b = ['f1_TTj1b[1., 0., 1.]','f2_TTj1b[0., 0., 1.]','f3_TTj1b[0., 0., 1.]']
# TTj2b
pdf_TTj2b = ['MR0_TTj2b[-300, -2000, 200.]', 'R0_TTj2b[-0.15,-2.,0.1]', 'b_TTj2b[1.,0.0001,15.0]', 'n_TTj2b[3.7,0.5,15.0]']
others_TTj2b = ['Ntot_TTj2b[2000.,0.,1000000.]']
btag_TTj2b = ['f1_TTj2b[0., 0., 1.]','f3_TTj2b[0.1, 0., 1.]']
 # Vpj
pdf_Vpj = ['MR0_Vpj[-300, -700, 0.]', 'R0_Vpj[-0.15,-1.,0.]', 'b_Vpj[.8,0.0001,3.0]', 'n_Vpj[1.,0.8,6.0]']
others_Vpj = ['Ntot_Vpj[0.,0.,1000000.]']
btag_Vpj = ['f1_Vpj[1., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]']
# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']

[MuTau]
variables = ['MR[1900.,300.000,2500.000]', 'Rsq[0.29,0.15,1.5]', 'nBtag[1.,1.,4.]','CHARGE[1.,-1.,1.]']
variables_range = ['MR_LowRsq[350.,2500.]','Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[1.,4.]',
		'MR_LowMR[300.,450.]','Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[1.,4.]',
		'MR_HighMR[450.,2500.]','Rsq_HighMR[0.15,1.5]', 'nBtag_HighMR[1.,4.]',
		'MR_LowRsq1b[350.,2500.]','Rsq_LowRsq1b[0.15,0.2]', 'nBtag_LowRsq1b[1.,2.]',
		'MR_LowMR1b[300.,450.]','Rsq_LowMR1b[0.2,1.5]', 'nBtag_LowMR1b[1.,2.]',
		'MR_HighMR1b[450.,2500.]','Rsq_HighMR1b[0.15,1.5]', 'nBtag_HighMR1b[1.,2.]',
		'MR_LowRsq2b[350.,2500.]','Rsq_LowRsq2b[0.15,0.2]', 'nBtag_LowRsq2b[2.,3.]',
		'MR_LowMR2b[300.,450.]','Rsq_LowMR2b[0.2,1.5]', 'nBtag_LowMR2b[2.,3.]',
		'MR_HighMR2b[450.,2500.]','Rsq_HighMR2b[0.15,1.5]', 'nBtag_HighMR2b[2.,3.]',
		'MR_LowRsq3b[350.,2500.]','Rsq_LowRsq3b[0.15,0.2]', 'nBtag_LowRsq3b[3.,4.]',
		'MR_LowMR3b[300.,450.]','Rsq_LowMR3b[0.2,1.5]', 'nBtag_LowMR3b[3.,4.]',
		'MR_HighMR3b[450.,2500.]','Rsq_HighMR3b[0.15,1.5]', 'nBtag_HighMR3b[3.,4.]']
# TTj1b
pdf_TTj1b = ['MR0_TTj1b[-300, -2000, 200.]', 'R0_TTj1b[-0.15,-2.,0.1]', 'b_TTj1b[1.,0.0001,15.0]', 'n_TTj1b[2.7,0.5,15.0]']
others_TTj1b = ['Ntot_TTj1b[18000.,0.,1000000.]']
btag_TTj1b = ['f1_TTj1b[1., 0., 1.]','f2_TTj1b[0., 0., 1.]','f3_TTj1b[0., 0., 1.]']
# TTj2b
pdf_TTj2b = ['MR0_TTj2b[-900, -2000, 200.]', 'R0_TTj2b[-0.15,-2.,0.1]', 'b_TTj2b[1.,0.0001,15.0]', 'n_TTj2b[2.7,0.5,15.0]']
others_TTj2b = ['Ntot_TTj2b[2000.,0.,1000000.]']
btag_TTj2b = ['f1_TTj2b[0., 0., 1.]','f3_TTj2b[0.1, 0., 1.]']
 # Vpj
pdf_Vpj = ['MR0_Vpj[-300, -700, 0.]', 'R0_Vpj[-0.15,-1.,0.]', 'b_Vpj[.8,0.0001,3.0]', 'n_Vpj[1.,0.8,6.0]']
others_Vpj = ['Ntot_Vpj[0.,0.,1000000.]']
btag_Vpj = ['f1_Vpj[1., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]']
# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']


[EleTau]
variables = ['MR[1900.,300.000,2500.000]', 'Rsq[0.29,0.15,1.5]', 'nBtag[1.,1.,4.]','CHARGE[1.,-1.,1.]']
variables_range = ['MR_LowRsq[350.,2500.]','Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[1.,4.]',
		'MR_LowMR[300.,450.]','Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[1.,4.]',
		'MR_HighMR[450.,2500.]','Rsq_HighMR[0.15,1.5]', 'nBtag_HighMR[1.,4.]',
		'MR_LowRsq1b[350.,2500.]','Rsq_LowRsq1b[0.15,0.2]', 'nBtag_LowRsq1b[1.,2.]',
		'MR_LowMR1b[300.,450.]','Rsq_LowMR1b[0.2,1.5]', 'nBtag_LowMR1b[1.,2.]',
		'MR_HighMR1b[450.,2500.]','Rsq_HighMR1b[0.15,1.5]', 'nBtag_HighMR1b[1.,2.]',
		'MR_LowRsq2b[350.,2500.]','Rsq_LowRsq2b[0.15,0.2]', 'nBtag_LowRsq2b[2.,3.]',
		'MR_LowMR2b[300.,450.]','Rsq_LowMR2b[0.2,1.5]', 'nBtag_LowMR2b[2.,3.]',
		'MR_HighMR2b[450.,2500.]','Rsq_HighMR2b[0.15,1.5]', 'nBtag_HighMR2b[2.,3.]',
		'MR_LowRsq3b[350.,2500.]','Rsq_LowRsq3b[0.15,0.2]', 'nBtag_LowRsq3b[3.,4.]',
		'MR_LowMR3b[300.,450.]','Rsq_LowMR3b[0.2,1.5]', 'nBtag_LowMR3b[3.,4.]',
		'MR_HighMR3b[450.,2500.]','Rsq_HighMR3b[0.15,1.5]', 'nBtag_HighMR3b[3.,4.]']
# TTj1b
pdf_TTj1b = ['MR0_TTj1b[-300, -2000, 200.]', 'R0_TTj1b[-0.15,-2.,0.1]', 'b_TTj1b[10.,0.0001,15.0]', 'n_TTj1b[3.7,0.5,15.0]']
others_TTj1b = ['Ntot_TTj1b[18000.,0.,1000000.]']
btag_TTj1b = ['f1_TTj1b[1., 0., 1.]','f2_TTj1b[0., 0., 1.]','f3_TTj1b[0., 0., 1.]']
# TTj2b
# SPECIAL LOWER BOUND
pdf_TTj2b = ['MR0_TTj2b[-300, -2500, 200.]', 'R0_TTj2b[-0.15,-2.,0.1]', 'b_TTj2b[1.,0.0001,15.0]', 'n_TTj2b[3.7,0.5,15.0]']
others_TTj2b = ['Ntot_TTj2b[2000.,0.,1000000.]']
btag_TTj2b = ['f1_TTj2b[0., 0., 1.]','f3_TTj2b[0.1, 0., 1.]']
 # Vpj
pdf_Vpj = ['MR0_Vpj[-300, -700, 0.]', 'R0_Vpj[-0.15,-1.,0.]', 'b_Vpj[.8,0.0001,3.0]', 'n_Vpj[1.,0.8,6.0]']
others_Vpj = ['Ntot_Vpj[0.,0.,1000000.]']
btag_Vpj = ['f1_Vpj[1., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]']
# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']


[Ele]
variables = ['MR[1900.,300.000,2500.000]', 'Rsq[0.29,0.15,1.5]', 'nBtag[1.,1.,4.]','CHARGE[1.,-1.,1.]']
variables_range = ['MR_LowRsq[350.,2500.]','Rsq_LowRsq[0.15,0.2]', 'nBtag_LowRsq[1.,4.]',
		'MR_LowMR[300.,450.]','Rsq_LowMR[0.2,1.5]', 'nBtag_LowMR[1.,4.]',
		'MR_HighMR[450.,2500.]','Rsq_HighMR[0.15,1.5]', 'nBtag_HighMR[1.,4.]',
		'MR_LowRsq1b[350.,2500.]','Rsq_LowRsq1b[0.15,0.2]', 'nBtag_LowRsq1b[1.,2.]',
		'MR_LowMR1b[300.,450.]','Rsq_LowMR1b[0.2,1.5]', 'nBtag_LowMR1b[1.,2.]',
		'MR_HighMR1b[450.,2500.]','Rsq_HighMR1b[0.15,1.5]', 'nBtag_HighMR1b[1.,2.]',
		'MR_LowRsq2b[350.,2500.]','Rsq_LowRsq2b[0.15,0.2]', 'nBtag_LowRsq2b[2.,3.]',
		'MR_LowMR2b[300.,450.]','Rsq_LowMR2b[0.2,1.5]', 'nBtag_LowMR2b[2.,3.]',
		'MR_HighMR2b[450.,2500.]','Rsq_HighMR2b[0.15,1.5]', 'nBtag_HighMR2b[2.,3.]',
		'MR_LowRsq3b[350.,2500.]','Rsq_LowRsq3b[0.15,0.2]', 'nBtag_LowRsq3b[3.,4.]',
		'MR_LowMR3b[300.,450.]','Rsq_LowMR3b[0.2,1.5]', 'nBtag_LowMR3b[3.,4.]',
		'MR_HighMR3b[450.,2500.]','Rsq_HighMR3b[0.15,1.5]', 'nBtag_HighMR3b[3.,4.]']
# TTj1b
pdf_TTj1b = ['MR0_TTj1b[-600, -2000, 200.]', 'R0_TTj1b[-0.15,-2.,0.1]', 'b_TTj1b[1.,0.0001,15.0]', 'n_TTj1b[1.7,0.5,15.0]']
others_TTj1b = ['Ntot_TTj1b[18000.,0.,1000000.]']
btag_TTj1b = ['f1_TTj1b[1., 0., 1.]','f2_TTj1b[0., 0., 1.]','f3_TTj1b[0., 0., 1.]']
# TTj2b
pdf_TTj2b = ['MR0_TTj2b[-600, -2000, 200.]', 'R0_TTj2b[-0.15,-2.,0.1]', 'b_TTj2b[1.,0.0001,15.0]', 'n_TTj2b[1.7,0.5,15.0]']
others_TTj2b = ['Ntot_TTj2b[2000.,0.,1000000.]']
btag_TTj2b = ['f1_TTj2b[0., 0., 1.]','f3_TTj2b[0.1, 0., 1.]']
 # Vpj
pdf_Vpj = ['MR0_Vpj[-300, -700, 0.]', 'R0_Vpj[-0.15,-1.,0.]', 'b_Vpj[.8,0.0001,3.0]', 'n_Vpj[1.,0.8,6.0]']
others_Vpj = ['Ntot_Vpj[0.,0.,1000000.]']
btag_Vpj = ['f1_Vpj[1., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]']
# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']

[MultiJet]
variables = ['MR[1900.,400.000,2500.000]', 'Rsq[0.29,0.25,1.5]', 'nBtag[1.,1.,4.]','CHARGE[1.,-1.,1.]']
variables_range = ['MR_LowRsq[450.,2500.]','Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[1.,4.]',
		'MR_LowMR[400.,550.]','Rsq_LowMR[0.3,1.5]', 'nBtag_LowMR[1.,4.]',
		'MR_HighMR[550.,2500.]','Rsq_HighMR[0.25,1.5]', 'nBtag_HighMR[1.,4.]',
		'MR_LowRsq1b[450.,2500.]','Rsq_LowRsq1b[0.25,0.3]', 'nBtag_LowRsq1b[1.,2.]',
		'MR_LowMR1b[400.,550.]','Rsq_LowMR1b[0.3,1.5]', 'nBtag_LowMR1b[1.,2.]',
		'MR_HighMR1b[550.,2500.]','Rsq_HighMR1b[0.25,1.5]', 'nBtag_HighMR1b[1.,2.]',
		'MR_LowRsq2b[450.,2500.]','Rsq_LowRsq2b[0.25,0.3]', 'nBtag_LowRsq2b[2.,3.]',
		'MR_LowMR2b[400.,550.]','Rsq_LowMR2b[0.3,1.5]', 'nBtag_LowMR2b[2.,3.]',
		'MR_HighMR2b[550.,2500.]','Rsq_HighMR2b[0.25,1.5]', 'nBtag_HighMR2b[2.,3.]',
		'MR_LowRsq3b[450.,2500.]','Rsq_LowRsq3b[0.25,0.3]', 'nBtag_LowRsq3b[3.,4.]',
		'MR_LowMR3b[400.,550.]','Rsq_LowMR3b[0.3,1.5]', 'nBtag_LowMR3b[3.,4.]',
		'MR_HighMR3b[550.,2500.]','Rsq_HighMR3b[0.25,1.5]', 'nBtag_HighMR3b[3.,4.]']
# TTj1b
pdf_TTj1b = ['MR0_TTj1b[-300, -2000, 300.]', 'R0_TTj1b[-0.15,-2.,0.2]', 'b_TTj1b[3.,0.0001,15.0]', 'n_TTj1b[5.7,0.5,15.0]']
others_TTj1b = ['Ntot_TTj1b[18000.,0.,1000000.]']
btag_TTj1b = ['f1_TTj1b[1., 0., 1.]','f2_TTj1b[0., 0., 1.]','f3_TTj1b[0., 0., 1.]']
# TTj2b
pdf_TTj2b = ['MR0_TTj2b[-300, -2000, 300.]', 'R0_TTj2b[-0.15,-2.,0.2]', 'b_TTj2b[3.,0.0001,15.0]', 'n_TTj2b[5.7,0.5,15.0]']
others_TTj2b = ['Ntot_TTj2b[2000.,0.,1000000.]']
btag_TTj2b = ['f1_TTj2b[0., 0., 1.]','f3_TTj2b[0.1, 0., 1.]']
 # Vpj
pdf_Vpj = ['MR0_Vpj[-300, -700, 0.]', 'R0_Vpj[-0.15,-1.,0.]', 'b_Vpj[.8,0.0001,3.0]', 'n_Vpj[1.,0.8,6.0]']
others_Vpj = ['Ntot_Vpj[0.,0.,1000000.]']
btag_Vpj = ['f1_Vpj[1., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]']
# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']

[Jet]
variables = ['MR[1900.,400.000,2500.000]', 'Rsq[0.29,0.25,1.5]', 'nBtag[1.,1.,4.]','CHARGE[1.,-1.,1.]']
variables_range = ['MR_LowRsq[450.,2500.]','Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[1.,4.]',
		'MR_LowMR[400.,550.]','Rsq_LowMR[0.3,1.5]', 'nBtag_LowMR[1.,4.]',
		'MR_HighMR[550.,2500.]','Rsq_HighMR[0.25,1.5]', 'nBtag_HighMR[1.,4.]',
		'MR_LowRsq1b[450.,2500.]','Rsq_LowRsq1b[0.25,0.3]', 'nBtag_LowRsq1b[1.,2.]',
		'MR_LowMR1b[400.,550.]','Rsq_LowMR1b[0.3,1.5]', 'nBtag_LowMR1b[1.,2.]',
		'MR_HighMR1b[550.,2500.]','Rsq_HighMR1b[0.25,1.5]', 'nBtag_HighMR1b[1.,2.]',
		'MR_LowRsq2b[450.,2500.]','Rsq_LowRsq2b[0.25,0.3]', 'nBtag_LowRsq2b[2.,3.]',
		'MR_LowMR2b[400.,550.]','Rsq_LowMR2b[0.3,1.5]', 'nBtag_LowMR2b[2.,3.]',
		'MR_HighMR2b[550.,2500.]','Rsq_HighMR2b[0.25,1.5]', 'nBtag_HighMR2b[2.,3.]',
		'MR_LowRsq3b[450.,2500.]','Rsq_LowRsq3b[0.25,0.3]', 'nBtag_LowRsq3b[3.,4.]',
		'MR_LowMR3b[400.,550.]','Rsq_LowMR3b[0.3,1.5]', 'nBtag_LowMR3b[3.,4.]',
		'MR_HighMR3b[550.,2500.]','Rsq_HighMR3b[0.25,1.5]', 'nBtag_HighMR3b[3.,4.]']
# TTj1b
pdf_TTj1b = ['MR0_TTj1b[-300, -2000, 300.]', 'R0_TTj1b[-0.15,-2.,0.2]', 'b_TTj1b[3.,0.0001,15.0]', 'n_TTj1b[9.7,0.5,15.0]']
others_TTj1b = ['Ntot_TTj1b[18000.,0.,1000000.]']
btag_TTj1b = ['f1_TTj1b[1., 0., 1.]','f2_TTj1b[0., 0., 1.]','f3_TTj1b[0., 0., 1.]']
# TTj2b
pdf_TTj2b = ['MR0_TTj2b[-300, -2000, 300.]', 'R0_TTj2b[-0.15,-2.,0.2]', 'b_TTj2b[3.,0.0001,15.0]', 'n_TTj2b[1.7,0.5,15.0]']
others_TTj2b = ['Ntot_TTj2b[2000.,0.,1000000.]']
btag_TTj2b = ['f1_TTj2b[0., 0., 1.]','f3_TTj2b[0.1, 0., 1.]']
 # Vpj
pdf_Vpj = ['MR0_Vpj[-300, -700, 0.]', 'R0_Vpj[-0.15,-1.,0.]', 'b_Vpj[.8,0.0001,3.0]', 'n_Vpj[1.,0.8,6.0]']
others_Vpj = ['Ntot_Vpj[0.,0.,1000000.]']
btag_Vpj = ['f1_Vpj[1., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]']
# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']


[TauTauJet]
variables = ['MR[1900.,400.000,2500.000]', 'Rsq[0.29,0.25,1.5]', 'nBtag[1.,1.,4.]','CHARGE[1.,-1.,1.]']
variables_range = ['MR_LowRsq[450.,2500.]','Rsq_LowRsq[0.25,0.3]', 'nBtag_LowRsq[1.,4.]',
		'MR_LowMR[400.,550.]','Rsq_LowMR[0.3,1.5]', 'nBtag_LowMR[1.,4.]',
		'MR_HighMR[550.,2500.]','Rsq_HighMR[0.25,1.5]', 'nBtag_HighMR[1.,4.]',
		'MR_LowRsq1b[450.,2500.]','Rsq_LowRsq1b[0.25,0.3]', 'nBtag_LowRsq1b[1.,2.]',
		'MR_LowMR1b[400.,550.]','Rsq_LowMR1b[0.3,1.5]', 'nBtag_LowMR1b[1.,2.]',
		'MR_HighMR1b[550.,2500.]','Rsq_HighMR1b[0.25,1.5]', 'nBtag_HighMR1b[1.,2.]',
		'MR_LowRsq2b[450.,2500.]','Rsq_LowRsq2b[0.25,0.3]', 'nBtag_LowRsq2b[2.,3.]',
		'MR_LowMR2b[400.,550.]','Rsq_LowMR2b[0.3,1.5]', 'nBtag_LowMR2b[2.,3.]',
		'MR_HighMR2b[550.,2500.]','Rsq_HighMR2b[0.25,1.5]', 'nBtag_HighMR2b[2.,3.]',
		'MR_LowRsq3b[450.,2500.]','Rsq_LowRsq3b[0.25,0.3]', 'nBtag_LowRsq3b[3.,4.]',
		'MR_LowMR3b[400.,550.]','Rsq_LowMR3b[0.3,1.5]', 'nBtag_LowMR3b[3.,4.]',
		'MR_HighMR3b[550.,2500.]','Rsq_HighMR3b[0.25,1.5]', 'nBtag_HighMR3b[3.,4.]']
# TTj1b
pdf_TTj1b = ['MR0_TTj1b[-1000, -2000, 300.]', 'R0_TTj1b[-0.15,-2.,0.2]', 'b_TTj1b[0.005,0.0001,15.0]', 'n_TTj1b[1.,0.5,15.0]']
others_TTj1b = ['Ntot_TTj1b[18000.,0.,1000000.]']
btag_TTj1b = ['f1_TTj1b[1., 0., 1.]','f2_TTj1b[0., 0., 1.]','f3_TTj1b[0., 0., 1.]']
# TTj2b
pdf_TTj2b = ['MR0_TTj2b[-300, -2000, 300.]', 'R0_TTj2b[-0.15,-2.,0.2]', 'b_TTj2b[1.,0.0001,15.0]', 'n_TTj2b[3.7,0.5,15.0]']
others_TTj2b = ['Ntot_TTj2b[2000.,0.,1000000.]']
btag_TTj2b = ['f1_TTj2b[0., 0., 1.]','f3_TTj2b[0., 0., 1.]']
 # Vpj
pdf_Vpj = ['MR0_Vpj[-300, -700, 0.]', 'R0_Vpj[-0.15,-1.,0.]', 'b_Vpj[.8,0.0001,3.0]', 'n_Vpj[1.,0.8,6.0]']
others_Vpj = ['Ntot_Vpj[0.,0.,1000000.]']
btag_Vpj = ['f1_Vpj[1., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]']
# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']
