[DEFAULT]
# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']

boxes = ['Ele', 'Mu', 'BJetHS','BJetLS']

#for the limit setting
nuisance_parameters = ['xBtag_prime[0,-5.,5.]','xJes_prime[0,-5.,5.]','xPdf_prime[0,-5.,5.]','xIsr_prime[0,-5.,5.]','eff_prime[0,-5.,5.]','lumi_prime[0,-5.,5.]']
other_parameters = ['lumi_uncert[1.026]','lumi_value[19.3]','eff_value[1.0]','eff_uncert[0.06]', 'trigger_uncert[1.05]','lepton_uncert[1.06]']

poi = ['sigma[0.02,-0.1,1000000.]']

#signal binning
signal_nBtag = [1, 2, 3, 4]
signal_MR = [450, 600, 750, 900, 1200, 1600, 4000]
signal_Rsq = [0.10, 0.13, 0.20, 0.30, 0.41, 0.52, 0.64, 1.5]


[BJetHS]

# ########################## TTJets: Rsq > 0.15 ############################

#variables = ['MR[600., 450., 4000.]', 'Rsq[0.29, 0.15, 1.5]', 'nBtag[1., 1., 4.]']
#variables_range = ['MR_FULL[450., 4000.]', 'Rsq_FULL[0.15, 1.5]', 'nBtag_FULL[1., 4.]', 'MR_LowRsq[450., 750.]', 'Rsq_LowRsq[0.10, 0.13]', 'nBtag_LowRsq[1., 4.]', 'MR_LowMR[450., 600.]', 'Rsq_LowMR[0.10, 1.5]', 'nBtag_LowMR[1.,4.]']

#pdf_ttj1b = ['MR0_TTj1b[-3.0547e+02]', 'R0_TTj1b[-2.8143e-01]', 'b_TTj1b[1.3512e-01]', 'n_TTj1b[1.4535e+00]']
#others_ttj1b = ['Ntot_TTj1b[2.8198e+02, 0, 1000000]']
#btag_ttj1b = ['f1_TTj1b[1, 0, 1]', 'f2_TTj1b[0, 0, 1]', 'f3_TTj1b[0, 0, 1]']

#pdf_ttj2b = ['MR0_TTj2b[-1.4943e+03]', 'R0_TTj2b[-9.7194e-01]', 'b_TTj2b[2.0087e-04]', 'n_TTj2b[6.8182e-01]']
#others_ttj2b = ['Ntot_TTj2b[3.6602e+02, 0, 1000000]']
#btag_ttj2b = ['f1_TTj2b[0, 0, 1]', 'f3_TTj2b[1.6298e-01, 0, 1]']

#pdf_vpj = ['MR0_Vpj[-4.2276e+02]', 'R0_Vpj[-7.9486e-01]', 'b_Vpj[1.3882e-02]', 'n_Vpj[1]']
#others_vpj = ['Ntot_Vpj[7.9050e+02, 0, 1000000]']
#btag_vpj = ['f1_Vpj[1, 0, 1]', 'f2_Vpj[0, 0, 1]', 'f3_Vpj[0, 0, 1]']


# ########################## TTJets: Rsq < 0.15 ###########################

#variables = ['MR[1900., 450., 4000.]', 'Rsq[0.29, 0.10, 0.15]', 'nBtag[1., 1., 4.]']
#variables_range = ['MR_FULL[450., 4000.]', 'Rsq_FULL[0.10, 0.15]', 'nBtag_FULL[1., 4.]', 'MR_LowRsq[450., 750.]', 'Rsq_LowRsq[0.10, 0.13]', 'nBtag_LowRsq[1., 4.]', 'MR_LowMR[450., 600.]', 'Rsq_LowMR[0.10, 1.5]', 'nBtag_LowMR[1., 4.]']

#pdf_ttj1b = ['MR0_TTj1b[-1.9669e+02]', 'R0_TTj1b[-5.9752e-01]', 'b_TTj1b[4.5088e-01]', 'n_TTj1b[2.0647e+00]']
#others_ttj1b = ['Ntot_TTj1b[4.3438e+02, 0, 1000000]']
#btag_ttj1b = ['f1_TTj1b[1, 0, 1]', 'f2_TTj1b[0, 0, 1]', 'f3_TTj1b[0, 0, 1]']

#pdf_ttj2b = ['MR0_TTj2b[-7.7703e+01]', 'R0_TTj2b[-1.6509e-01]', 'b_TTj2b[2.6281e+00]', 'n_TTj2b[1.0907e+01]']
#others_ttj2b = ['Ntot_TTj2b[6.9317e+02, 0, 1000000]']
#btag_ttj2b = ['f1_TTj2b[0, 0, 1]', 'f3_TTj2b[1.4701e-01, 0, 1]']

############################# Parked: Rsq >= 015 ############################

#variables = ['MR[600., 450., 4000.]', 'Rsq[0.29, 0.15, 1.5]', 'nBtag[1, 1, 4]']
#variables_range = ['MR_FULL[450., 4000.]', 'Rsq_FULL[0.15, 1.5]', 'nBtag_FULL[1, 4]', 'MR_LowRsq[450., 750.]', 'Rsq_LowRsq[0.10, 0.13]', 'nBtag_LowRsq[1, 4]', 'MR_LowMR[450., 600.]', 'Rsq_LowMR[0.10, 1.5]', 'nBtag_LowMR[1, 4]']

#pdf_ttj1b = ['MR0_TTj1b[-3.0547e+02]', 'R0_TTj1b[-2.8143e-01]', 'b_TTj1b[1.3512e-01]', 'n_TTj1b[1.4535e+00]']
#others_ttj1b = ['Ntot_TTj1b[2.7498e+02, 0, 1000000]']
#btag_ttj1b = ['f1_TTj1b[1, 0, 1]', 'f2_TTj1b[0, 0, 1]', 'f3_TTj1b[0, 0, 1]']

#pdf_ttj2b = ['MR0_TTj2b[-1.4943e+03]', 'R0_TTj2b[-9.7194e-01]', 'b_TTj2b[2.0087e-03]', 'n_TTj2b[1.0869e+00]']
#others_ttj2b = ['Ntot_TTj2b[4.3301e+02, 0, 1000000]']
#btag_ttj2b = ['f1_TTj2b[0, 0, 1]', 'f3_TTj2b[1.6298e-01, 0, 1]']

#pdf_vpj = ['MR0_Vpj[-4.2276e+02]', 'R0_Vpj[-7.9486e-01]', 'b_Vpj[1.3882e-02]', 'n_Vpj[1]']
#others_vpj = ['Ntot_Vpj[2.9050e+02, 0, 1000000]']
#btag_vpj = ['f1_Vpj[1, 0, 1]', 'f2_Vpj[0, 0, 1]', 'f3_Vpj[0, 0, 1]']


# ########################## Parked: Rsq < 0.15 ###########################

variables = ['MR[1900., 450., 4000.]', 'Rsq[0.29, 0.10, 0.15]', 'nBtag[1., 1., 4.]']
variables_range = ['MR_FULL[450., 4000.]', 'Rsq_FULL[0.10, 0.15]', 'nBtag_FULL[1., 4.]', 'MR_LowRsq[450., 750.]', 'Rsq_LowRsq[0.10, 0.13]', 'nBtag_LowRsq[1., 4.]', 'MR_LowMR[450., 600.]', 'Rsq_LowMR[0.10, 1.5]', 'nBtag_LowMR[1., 4.]']

pdf_ttj1b = ['MR0_TTj1b[-1.9669e+02]', 'R0_TTj1b[-5.9752e-01]', 'b_TTj1b[4.5088e-01]', 'n_TTj1b[2.0647e+00]']
others_ttj1b = ['Ntot_TTj1b[1.0838e+03, 0, 1000000]']
btag_ttj1b = ['f1_TTj1b[1, 0, 1]', 'f2_TTj1b[0, 0, 1]', 'f3_TTj1b[0, 0, 1]']

pdf_ttj2b = ['MR0_TTj2b[-7.7703e+01]', 'R0_TTj2b[-1.6509e-01]', 'b_TTj2b[3.5959e+00]', 'n_TTj2b[4.7545e+00]']
others_ttj2b = ['Ntot_TTj2b[1.1280e+03, 0, 1000000]']
btag_ttj2b = ['f1_TTj2b[0, 0, 1]', 'f3_TTj2b[1.8286e-01, 0, 1]']

pdf_vpj = ['MR0_Vpj[-8.2276e+02]', 'R0_Vpj[-4.5146e-02]', 'b_Vpj[1.3882e-02]', 'n_Vpj[1]']
others_vpj = ['Ntot_Vpj[4.9266e+02, 0, 1000000]']
btag_vpj = ['f1_Vpj[1, 0, 1]', 'f2_Vpj[0, 0, 1]', 'f3_Vpj[0, 0, 1]']

