[DEFAULT]
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']

boxes = ['Mu']

# for the limit setting
nuisance_parameters = ['xBtag_prime[0,-5.,5.]','xJes_prime[0,-5.,5.]','xPdf_prime[0,-5.,5.]','xIsr_prime[0,-5.,5.]','eff_prime[0,-5.,5.]','lumi_prime[0,-5.,5.]']
other_parameters = ['lumi_uncert[1.026]','lumi_value[19.3]','eff_value[1.0]','eff_uncert[0.06]', 'trigger_uncert[1.05]','lepton_uncert[1.03]']

poi = ['sigma[0.02,-0.1,1000000.]']

# signal binning
signal_nBtag = [1, 2, 3, 4]
signal_MR = [450, 600, 750, 900, 1200, 1600, 4000]
signal_Rsq = [0.10, 0.13, 0.20, 0.30, 0.41, 0.52, 0.64, 1.5]


[Mu]

# ########################## TTJets: Rsq > 0.15 ############################

#variables = ['MR[600., 350., 4000.]', 'Rsq[0.29, 0.15, 1.5]', 'nBtag[1, 1, 4]']
#variables_range = ['MR_FULL[350., 4000.]', 'Rsq_FULL[0.15, 1.5]', 'nBtag_FULL[1, 4]', 'MR_LowRsq[350., 4000.]', 'Rsq_LowRsq[0.15, 0.20]', 'nBtag_LowRsq[1, 4]', 'MR_LowMR[350., 450.]', 'Rsq_LowMR[0.15, 1.5]', 'nBtag_LowMR[1 ,4]']

#pdf_ttj1b = ['MR0_TTj1b[-3.9631e+02]', 'R0_TTj1b[-3.4912e-01]', 'b_TTj1b[2.2136e-01]', 'n_TTj1b[1.7109e+00]']
#others_ttj1b = ['Ntot_TTj1b[5523., 0, 1000000]']
#btag_ttj1b = ['f1_TTj1b[1, 0, 1]', 'f2_TTj1b[0, 0, 1]', 'f3_TTj1b[0, 0, 1]']

#pdf_ttj2b = ['MR0_TTj2b[-6.4074e+02]', 'R0_TTj2b[-4.4662e-01]', 'b_TTj2b[2.1159#e-01]', 'n_TTj2b[1.7091e+00]']
#others_ttj2b = ['Ntot_TTj2b[4710., 0, 1000000]']
#btag_ttj2b = ['f1_TTj2b[0, 0, 1]', 'f3_TTj2b[1.1022e-01, 0, 1]']

#pdf_vpj = ['MR0_Vpj[-74.66749]', 'R0_Vpj[-0.28612]', 'b_Vpj[0.50404]', 'n_Vpj[2.39607]']
#others_vpj = ['Ntot_Vpj[0, 0.000, 1000000.000]']
#btag_vpj = ['f1_Vpj[1., 0., 1.]', 'f2_Vpj[0., 0., 1.]', 'f3_Vpj[0., 0., 1.]']


# ########################## TTJets: Rsq < 0.15 ###########################

############################# MuHad: Rsq >= 015 ############################

variables = ['MR[1900., 350., 4000.]', 'Rsq[0.29, 0.15, 1.5]', 'nBtag[1, 1, 4]']
variables_range = ['MR_FULL[350., 4000.]', 'Rsq_FULL[0.15, 1.5]', 'nBtag_FULL[1 ,4]', 'MR_LowRsq[350., 4000.]', 'Rsq_LowRsq[0.15, 0.20]', 'nBtag_LowRsq[1, 4]', 'MR_LowMR[350., 450.]', 'Rsq_LowMR[0.15, 1.5]', 'nBtag_LowMR[1, 4]']

pdf_ttj1b = ['MR0_TTj1b[-2.0445e+02]', 'R0_TTj1b[-1.9427e-01]', 'b_TTj1b[8.8912e-01]', 'n_TTj1b[2.8109e+00]']
others_ttj1b = ['Ntot_TTj1b[3805., 0., 1000000.]']
btag_ttj1b = ['f1_TTj1b[1., 0., 1.]', 'f2_TTj1b[0., 0., 1.]', 'f3_TTj1b[0., 0., 1.]']

pdf_ttj2b = ['MR0_TTj2b[-2.5940e+03]', 'R0_TTj2b[-1.7517e+00]', 'b_TTj2b[2.4971e-01]', 'n_TTj2b[1.8448e+00]']
others_ttj2b = ['Ntot_TTj2b[2715., 0., 1000000.]']
btag_ttj2b = ['f1_TTj2b[0., 0., 1.]', 'f3_TTj2b[1.1724e-01, 0., 1.]']

pdf_vpj = ['MR0_Vpj[-74.66749]', 'R0_Vpj[-0.28612]', 'b_Vpj[0.50404]', 'n_Vpj[2.39607]']
others_vpj = ['Ntot_Vpj[0., 0., 1000000.]']
btag_vpj = ['f1_Vpj[1., 0., 1.]', 'f2_Vpj[0., 0., 1.]', 'f3_Vpj[0., 0., 1.]']


# ########################## MuHad: Rsq < 0.15 ###########################


