[DEFAULT]
variables = ['MR[1900.,450.000,4000.000]', 'Rsq[0.29,0.25,1.5]', 'nBtag[1.,1.,4.]']
variables_range = ['MR_FULL[450.,4000.]','Rsq_FULL[0.25,1.5]', 'nBtag_FULL[1.,4.]']

# functions
functions = ['expr::f2_TTj2b(\'1.0-@0\',f3_TTj2b)']

boxes = ['Jet','TauTauJet','MultiJet']

#for the limit setting
#nuisance_parameters = ['xBtag_prime[0,-5.,5.]','xJes_prime[0,-5.,5.]','xPdf_prime[0,-5.,5.]','eff_prime[0,-5.,5.]','lumi_prime[0,-5.,5.]']
nuisance_parameters = ['eff_prime[0,-5.,5.]']
other_parameters = ['xBtag_prime[0,-5.,5.]','xJes_prime[0,-5.,5.]','xPdf_prime[0,-5.,5.]','lumi_prime[0,-5.,5.]','lumi_value[19300.]','eff_value[1.0]','lumi_uncert[0.044]','eff_uncert[0.3]']
poi = ['sigma[0.02,0., 1000.]']

#signal binning
signal_MR =  [450, 700, 1200, 1600, 2500, 4000]
signal_Rsq = [0.25,0.41,0.64,0.80,1.5]
signal_nBtag = [1.,2.,3.,4.]

[TauTauJet]
pdf_ttj1b = ['MR0_TTj1b[-1000.00000]', 'R0_TTj1b[-0.15000]', 'b_TTj1b[0.00500]', 'n_TTj1b[1.00000]']
others_ttj1b = ['Ntot_TTj1b[712.00000,0.000,1000000.000]']
btag_ttj1b = ['f1_TTj1b[1.00000,0.000,1.000]', 'f2_TTj1b[0.00000,0.000,1.000]', 'f3_TTj1b[0.00000,0.000,1.000]']
# TTj2b
pdf_TTj2b = ['MR0_TTj2b[-300]', 'R0_TTj2b[-0.15]', 'b_TTj2b[1.]', 'n_TTj2b[3.7]']
others_TTj2b = ['Ntot_TTj2b[200,0.,10000.]']
btag_TTj2b = ['f1_TTj2b[0., 0., 1.]','f3_TTj2b[0., 0., 1.]']
 # Vpj
pdf_Vpj = ['MR0_Vpj[-300]', 'R0_Vpj[-0.15]', 'b_Vpj[.8]', 'n_Vpj[1.]']
others_Vpj = ['Ntot_Vpj[0.,0.,100000.]']
btag_Vpj = ['f1_Vpj[1., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]']

[Jet]
pdf_ttj1b = ['MR0_TTj1b[-26.44215]', 'R0_TTj1b[-0.04495]', 'b_TTj1b[0.34283]', 'n_TTj1b[1.64419]']
others_ttj1b = ['Ntot_TTj1b[3934.50099,0.000,10000.000]']
btag_ttj1b = ['f1_TTj1b[1.00000,0.000,1.000]', 'f2_TTj1b[0.00000,0.000,1.000]', 'f3_TTj1b[0.00000,0.000,1.000]']
pdf_ttj2b = ['MR0_TTj2b[18.63841]', 'R0_TTj2b[-0.12498]', 'b_TTj2b[3.84380]', 'n_TTj2b[10.92781]']
others_ttj2b = ['Ntot_TTj2b[938.35743,0.000,10000.000]']
btag_ttj2b = ['f1_TTj2b[0.00000,0.000,1.000]', 'f3_TTj2b[0.03214,0.000,1.000]']
pdf_vpj = ['MR0_Vpj[-314.72275]', 'R0_Vpj[-0.55575]', 'b_Vpj[0.77300]', 'n_Vpj[2.91192]']
others_vpj = ['Ntot_Vpj[2617.58417,0.000,10000.000]']
btag_vpj = ['f1_Vpj[1.00000,0.000,1.000]', 'f2_Vpj[0.00000,0.000,1.000]', 'f3_Vpj[0.00000,0.000,1.000]']

[MultiJet]
# TTj1b
pdf_TTj1b = ['MR0_TTj1b[-300]', 'R0_TTj1b[-0.15]', 'b_TTj1b[3.]', 'n_TTj1b[5.7]']
others_TTj1b = ['Ntot_TTj1b[18000.,0.,1000000.]']
btag_TTj1b = ['f1_TTj1b[1., 0., 1.]','f2_TTj1b[0., 0., 1.]','f3_TTj1b[0., 0., 1.]']
# TTj2b
pdf_TTj2b = ['MR0_TTj2b[-30]', 'R0_TTj2b[-0.015]', 'b_TTj2b[1.]', 'n_TTj2b[5.7]']
others_TTj2b = ['Ntot_TTj2b[2000.,0.,1000000.]']
btag_TTj2b = ['f1_TTj2b[0., 0., 1.]','f3_TTj2b[0.1, 0., 1.]']
 # Vpj
pdf_Vpj = ['MR0_Vpj[-300]', 'R0_Vpj[-0.15]', 'b_Vpj[.8]', 'n_Vpj[1.]']
others_Vpj = ['Ntot_Vpj[0.,0.,1000000.]']
btag_Vpj = ['f1_Vpj[1., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]']
