[EleEle]
variables = ['MR[1900.00000,300.000,4500.000]', 'Rsq[0.29500,0.110,0.500]', 'nBtag[0,0.,1.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[300.,4500.]','Rsq_FULL[0.11,1.5]', 'nBtag_FULL[0,0.,1.]',
		'MR_SidebandMR[300.,4500.]','Rsq_SidebandMR[0.11,0.3]', 'nBtag_SidebandMR[0,0.,1.]',
		'MR_SidebandRsq[300.,600.]','Rsq_SidebandRsq[0.11,0.5]', 'nBtag_SidebandRsq[0,0.,1.]']
# TTj
pdf_TTj = ['MR0_TTj[-69, -1000, 300.]', 'R0_TTj[-0.178,-2.0,0.0]', 'b_TTj[0.507,0.0001,15.000]','n_TTj[1.69,0.8,15.0]']
btag_TTj = ['f1_TTj[0.,.0,1.]','f2_TTj[0.0,.0,0.3]','f3_TTj[0.0]','f4_TTj[0.0]']
others_TTj = ['Lumi[5036]', 'Ntot_TTj[140,10.,1000000.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[-59,-4000.,250.]', 'R0_Vpj[-0.038,-2.,10.]', 'b_Vpj[0.152,0.0001,1.000]','n_Vpj[1.0,0.8,5.0]']
btag_Vpj = ['f1_Vpj[0.,.0,1.]','f2_Vpj[0.0,.0,0.3]','f3_Vpj[0.0]','f4_Vpj[0.0]']
others_Vpj = ['Ntot_Vpj[140,10.,1000000.]']
# UEC DUMMY
pdf_UEC = ['MR0_UEC[-106, -400, 250.]', 'R0_UEC[-0.190,-2.0,0.0]', 'b_UEC[0.023,0.0001,20.0]','n_UEC[2.5,0.8,5.0]']
others_UEC = ['Ntot_UEC[2000.,0.,1000000.]']
btag_UEC = ['f1_UEC[0.31, 0., 1.]','f2_UEC[0.15, 0., 1.]','f3_UEC[0.011, 0., 1.]','f4_UEC[0.0004, 0., 1.]']

[MuEle]
variables = ['MR[1900.00000,300.000,4500.000]', 'Rsq[0.29500,0.110,0.500]', 'nBtag[0,0.,1.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[300.,4500.]','Rsq_FULL[0.11,1.5]', 'nBtag_FULL[0,0.,1.]',
		'MR_SidebandMR[300.,4500.]','Rsq_SidebandMR[0.11,0.3]', 'nBtag_SidebandMR[0,0.,1.]',
		'MR_SidebandRsq[300.,600.]','Rsq_SidebandRsq[0.11,0.5]', 'nBtag_SidebandRsq[0,0.,1.]']
# TTj
pdf_TTj = ['MR0_TTj[-69, -1000, 300.]', 'R0_TTj[-0.178,-2.0,0.0]', 'b_TTj[0.507,0.0001,15.000]','n_TTj[1.69,0.8,15.0]']
btag_TTj = ['f1_TTj[0.,.0,1.]','f2_TTj[0.0,.0,0.3]','f3_TTj[0.0]','f4_TTj[0.0]']
others_TTj = ['Lumi[5036]', 'Ntot_TTj[400,0.,5000.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[-59,-4000.,250.]', 'R0_Vpj[-0.038,-2.,10.]', 'b_Vpj[0.152,0.0001,1.000]','n_Vpj[1.0,0.8,5.0]']
btag_Vpj = ['f1_Vpj[0.,.0,1.]','f2_Vpj[0.0,.0,0.3]','f3_Vpj[0.0]','f4_Vpj[0.0]']
others_Vpj = ['Ntot_Vpj[1500,0.,100000.]']
# DUMMY
pdf_UEC = ['MR0_UEC[-106, -230, 250.]', 'R0_UEC[-0.190,-2.0,0.0]', 'b_UEC[0.023,0.0001,200.0]', 'n_UEC[2.5,0.,5.]']
others_UEC = ['Ntot_UEC[100.,0.,10000.]']
btag_UEC = ['f1_UEC[0., 0., 1.]','f2_UEC[0., 0., 1.]','f3_UEC[0., 0., 1.]','f4_UEC[0., 0., 1.]']

[MuMu]
variables = ['MR[1900.00000,300.000,4500.000]', 'Rsq[0.29500,0.110,0.500]', 'nBtag[0,0.,1.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[300.,4500.]','Rsq_FULL[0.11,1.5]', 'nBtag_FULL[0,0.,1.]',
		'MR_SidebandMR[300.,4500.]','Rsq_SidebandMR[0.11,0.3]', 'nBtag_SidebandMR[0,0.,1.]',
		'MR_SidebandRsq[300.,600.]','Rsq_SidebandRsq[0.11,0.5]', 'nBtag_SidebandRsq[0,0.,1.]']
# TTj
pdf_TTj = ['MR0_TTj[-69, -1000, 300.]', 'R0_TTj[-0.178,-2.0,0.0]', 'b_TTj[0.507,0.0001,15.000]','n_TTj[1.69,0.8,15.0]']
btag_TTj = ['f1_TTj[0.,.0,1.]','f2_TTj[0.0,.0,0.3]','f3_TTj[0.0]','f4_TTj[0.0]']
others_TTj = ['Lumi[5036]', 'Ntot_TTj[400,0.,5000.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[-59,-4000.,250.]', 'R0_Vpj[-0.038,-2.,10.]', 'b_Vpj[0.152,0.0001,1.000]','n_Vpj[1.0,0.8,5.0]']
btag_Vpj = ['f1_Vpj[0.,.0,1.]','f2_Vpj[0.0,.0,0.3]','f3_Vpj[0.0]','f4_Vpj[0.0]']
others_Vpj = ['Ntot_Vpj[1500,0.,100000.]']
# DUMMY
pdf_UEC = ['MR0_UEC[-106, -230, 250.]', 'R0_UEC[-0.190,-2.0,0.0]', 'b_UEC[0.023,0.0001,200.0]', 'n_UEC[2.5,0.,5.]']
others_UEC = ['Ntot_UEC[100.,0.,10000.]']
btag_UEC = ['f1_UEC[0., 0., 1.]','f2_UEC[0., 0., 1.]','f3_UEC[0., 0., 1.]','f4_UEC[0., 0., 1.]']

[Ele]
variables = ['MR[1900.00000,300.000,4500.000]', 'Rsq[0.29500,0.110,0.5]', 'nBtag[0,0.,1.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[300.,4500.]','Rsq_FULL[0.11,1 0.5]', 'nBtag_FULL[0,0.,1.]',
		'MR_SidebandMR[300.,4500.]','Rsq_SidebandMR[0.11,0.3]', 'nBtag_SidebandMR[0,0.,1.]',
		'MR_SidebandRsq[300.,600.]','Rsq_SidebandRsq[0.11,1.5]', 'nBtag_SidebandRsq[0,0.,1.]']
# TTj
pdf_TTj = ['MR0_TTj[-1.2342e+02,-4000.,100.]', 'R0_TTj[-3.0734e-01,-100.,10.]', 'b_TTj[0.016,0.0001,5.500]', 'n_TTj[1.0,0.9,3.]']
others_TTj = ['Lumi[5036]', 'Ntot_TTj[6000,0.,100000.]']
btag_TTj = ['f1_TTj[0., 0., 1.]','f2_TTj[0., 0., 1.]','f3_TTj[0., 0., 1.]','f4_TTj[0., 0., 1.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[-106, -4000, 300.]', 'R0_Vpj[-0.175,-2.0,0.0]', 'b_Vpj[0.016,0.0001,150.000]','n_Vpj[1.0,0.8,150.0]']
others_Vpj = ['Ntot_Vpj[1500,0.,100000.]']
btag_Vpj = ['f1_Vpj[0., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]','f4_Vpj[0., 0., 1.]']
# UEC
pdf_UEC = ['MR0_UEC[-106, -230, 250.]', 'R0_UEC[-0.190,-2.0,0.0]', 'b_UEC[0.023,0.0001,200.0]', 'n_UEC[2.5,0.,5.]']
others_UEC = ['Ntot_UEC[100.,0.,10000.]']
btag_UEC = ['f1_UEC[0., 0., 1.]','f2_UEC[0., 0., 1.]','f3_UEC[0., 0., 1.]','f4_UEC[0., 0., 1.]']

####################

[MuTau]
variables = ['MR[1900.00000,300.000,4500.000]', 'Rsq[0.29500,0.110,1.500]', 'nBtag[0,0.,1.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[300.,4500.]','Rsq_FULL[0.11,1.50]', 'nBtag_FULL[0,0.,1.]',
		'MR_fR1[300.,1000.]','Rsq_fR1[0.11,0.3]', 'nBtag_fR1[0,0.,1.]',
		'MR_fR2[300.,500.]','Rsq_fR3[0.30,1.50]', 'nBtag_fR3[0,0.,1.]']
# TTj
pdf_TTj = ['MR0_TTj[0]', 'MR0_TTj_s[0]', 'R0_TTj[0]', 'R0_TTj_s[0]', 'b_TTj[0.10,0.0001,1.000]', 'b_TTj_s[10.]']
others_TTj = ['Lumi[4959]', 'Ntot_TTj[14000,10.,1000000.]']
btag_TTj = ['f1_TTj[0.39, 0., 1.]','f2_TTj[0.17, 0., 1.]','f3_TTj[0.0035, 0., 1.]','f4_TTj[0., 0., 1.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[0]', 'MR0_Vpj_s[0]', 'R0_Vpj[0]', 'R0_Vpj_s[0]', 'b_Vpj[0.10,0.0001,1.000]', 'b_Vpj_s[10.]']
others_Vpj = ['Ntot_Vpj[14000,10.,1000000.]']
btag_Vpj = ['f1_Vpj[0.39, 0., 1.]','f2_Vpj[0.17, 0., 1.]','f3_Vpj[0.0035, 0., 1.]','f4_Vpj[0., 0., 1.]']
# UEC
pdf_UEC = ['MR0_UEC[-106, -200, 250.]', 'MR0_UEC_s[38]', 'R0_UEC[-0.190,-2.0,0.0]', 'R0_UEC_s[0.025]', 'b_UEC[0.023,0.0001,2.0]', 'b_UEC_s[0.016]']
others_UEC = ['Ntot_UEC[20000.,10.,1000000.]']
btag_UEC = ['f1_UEC[0.31, 0., 1.]','f2_UEC[0.15, 0., 1.]','f3_UEC[0.011, 0., 1.]','f4_UEC[0.0004, 0., 1.]']

[Mu]
variables = ['MR[1900.00000,300.000,4500.000]', 'Rsq[0.29500,0.110,1.50]', 'nBtag[0,0.,1.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[300.,4500.]','Rsq_FULL[0.11,1.50]', 'nBtag_FULL[0,0.,1.]',
		'MR_fR1[300.,1000.]','Rsq_fR1[0.11,0.3]', 'nBtag_fR1[0,0.,1.]',
		'MR_fR2[300.,500.]','Rsq_fR3[0.30,1.50]', 'nBtag_fR3[0,0.,1.]']
# TTj
pdf_TTj = ['MR0_TTj[0]', 'MR0_TTj_s[0]', 'R0_TTj[0]', 'R0_TTj_s[0]', 'b_TTj[0.10,0.0001,1.000]', 'b_TTj_s[10.]']
others_TTj = ['Lumi[4959]', 'Ntot_TTj[4000,10.,1000000.]']
btag_TTj = ['f1_TTj[0.39, 0., 1.]','f2_TTj[0.17, 0., 1.]','f3_TTj[0.0035, 0., 1.]','f4_TTj[0., 0., 1.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[0]', 'MR0_Vpj_s[0]', 'R0_Vpj[0]', 'R0_Vpj_s[0]', 'b_Vpj[0.10,0.0001,1.000]', 'b_Vpj_s[10.]']
others_Vpj = ['Ntot_Vpj[4000,10.,1000000.]']
btag_Vpj = ['f1_Vpj[0.39, 0., 1.]','f2_Vpj[0.17, 0., 1.]','f3_Vpj[0.0035, 0., 1.]','f4_Vpj[0., 0., 1.]']
# UEC
pdf_UEC = ['MR0_UEC[-106, -600, 250.]', 'MR0_UEC_s[38]', 'R0_UEC[-0.190,-2.0,0.0]', 'R0_UEC_s[0.025]', 'b_UEC[0.023,0.0001,2.0]', 'b_UEC_s[0.016]']
others_UEC = ['Ntot_UEC[200.,10.,1000000.]']
btag_UEC = ['f1_UEC[0.31, 0., 1.]','f2_UEC[0.15, 0., 1.]','f3_UEC[0.011, 0., 1.]','f4_UEC[0.0004, 0., 1.]']

[EleTau]
variables = ['MR[1900.00000,300.000,4500.000]', 'Rsq[0.29500,0.110,0.500]', 'nBtag[0,0.,1.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[300.,4500.]','Rsq_FULL[0.11,0.50]', 'nBtag_FULL[0,0.,1.]']
# TTj
pdf_TTj = ['MR0_TTj[-69, -1000, 300.]', 'R0_TTj[-0.178,-2.0,0.0]', 'b_TTj[0.507,0.0001,55.000]','n_TTj[1.,0.8,55.0]']
btag_TTj = ['f1_TTj[0.,.0,1.]','f2_TTj[0.0,.0,0.3]','f3_TTj[0.0]','f4_TTj[0.0]']
others_TTj = ['Lumi[5036]', 'Ntot_TTj[400,0.,50000.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[-59,-400.,250.]', 'R0_Vpj[-0.038,-2.,10.]', 'b_Vpj[0.152,0.0001,1.000]','n_Vpj[1.0,0.8,5.0]']
btag_Vpj = ['f1_Vpj[0.,.0,1.]','f2_Vpj[0.0,.0,0.3]','f3_Vpj[0.0]','f4_Vpj[0.0]']
others_Vpj = ['Ntot_Vpj[150,0.,100000.]']
# DUMMY
pdf_UEC = ['MR0_UEC[-106, -230, 250.]', 'R0_UEC[-0.190,-2.0,0.0]', 'b_UEC[0.023,0.0001,200.0]', 'n_UEC[2.5,0.,5.]']
others_UEC = ['Ntot_UEC[100.,0.,10000.]']
btag_UEC = ['f1_UEC[0., 0., 1.]','f2_UEC[0., 0., 1.]','f3_UEC[0., 0., 1.]','f4_UEC[0., 0., 1.]']


[TauTau]
variables = ['MR[1900.00000,400.000,4500.000]', 'Rsq[0.29500,0.180,1.50]', 'nBtag[0,0.,1.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[400.,4500.]','Rsq_FULL[0.18,1.5]', 'nBtag_FULL[0,0.,1.]',
		'MR_fR1[400.,1000.]','Rsq_fR1[0.18,0.3]', 'nBtag_fR1[0,0.,1.]',
		'MR_fR2[400.,500.]','Rsq_fR3[0.30,1.50]', 'nBtag_fR3[0,0.,1.]']
# TTj
pdf_TTj = ['MR0_TTj[0]', 'MR0_TTj_s[0]', 'R0_TTj[0]', 'R0_TTj_s[0]', 'b_TTj[0.10,0.0001,1.000]', 'b_TTj_s[10.]']
others_TTj = ['Lumi[5000]', 'Ntot_TTj[14000,10.,100000.]']
btag_TTj = ['f1_TTj[0.39, 0., 1.]','f2_TTj[0.17, 0., 1.]','f3_TTj[0.0035, 0., 1.]','f4_TTj[0., 0., 1.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[0]', 'MR0_Vpj_s[0]', 'R0_Vpj[0]', 'R0_Vpj_s[0]', 'b_Vpj[0.10,0.0001,1.000]', 'b_Vpj_s[10.]']
others_Vpj = ['Ntot_Vpj[14000,10.,100000.]']
btag_Vpj = ['f1_Vpj[0.39, 0., 1.]','f2_Vpj[0.17, 0., 1.]','f3_Vpj[0.0035, 0., 1.]','f4_Vpj[0., 0., 1.]']
# UEC
pdf_UEC = ['MR0_UEC[-106, -200, 250.]', 'MR0_UEC_s[38]', 'R0_UEC[-0.190,-2.0,0.0]', 'R0_UEC_s[0.025]', 'b_UEC[0.023,0.0001,6.0]', 'b_UEC_s[0.016]']
others_UEC = ['Ntot_UEC[20000.,10.,100000.]']
btag_UEC = ['f1_UEC[0.31, 0., 1.]','f2_UEC[0.15, 0., 1.]','f3_UEC[0.011, 0., 1.]','f4_UEC[0.0004, 0., 1.]']

[Had]
#variables = ['MR[1900.00000,400.000,4500.000]',
#'Rsq[0.29500,0.180,1.500]', 'nBtag[0,0.,1.]','CHARGE[1.,-1,1]']
variables = ['MR[1900.00000,400.000,4500.000]', 'Rsq[0.29500,0.180,1.50]', 'nBtag[0,0.,1.]']
variables_range = ['MR_FULL[400.,4500.]','Rsq_FULL[0.18,1.50]', 'nBtag_FULL[0,0.,1.]',
		'MR_fR1[400.,1000.]','Rsq_fR1[0.18,0.3]', 'nBtag_fR1[0,0.,1.]',
		'MR_fR2[400.,500.]','Rsq_fR3[0.30,1.50]', 'nBtag_fR3[0,0.,1.]']
# TTj
pdf_TTj = ['MR0_TTj[0]', 'MR0_TTj_s[0]', 'R0_TTj[0]', 'R0_TTj_s[0]', 'b_TTj[0.10,0.0001,1.000]', 'b_TTj_s[10.]']
others_TTj = ['Lumi[5000]', 'Ntot_TTj[14000,10.,100000.]']
btag_TTj = ['f1_TTj[0.39, 0., 1.]','f2_TTj[0.17, 0., 1.]','f3_TTj[0.0035, 0., 1.]','f4_TTj[0., 0., 1.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[0]', 'MR0_Vpj_s[0]', 'R0_Vpj[0]', 'R0_Vpj_s[0]', 'b_Vpj[0.10,0.0001,1.000]', 'b_Vpj_s[10.]']
others_Vpj = ['Ntot_Vpj[14000,10.,100000.]']
btag_Vpj = ['f1_Vpj[0.39, 0., 1.]','f2_Vpj[0.17, 0., 1.]','f3_Vpj[0.0035, 0., 1.]','f4_Vpj[0., 0., 1.]']
# UEC
pdf_UEC = ['MR0_UEC[-106, -600, 250.]', 'MR0_UEC_s[38]', 'R0_UEC[-0.190,-2.0,0.0]', 'R0_UEC_s[0.025]', 'b_UEC[0.023,0.0001,2.0]', 'b_UEC_s[0.016]']
others_UEC = ['Ntot_UEC[20000.,10.,100000.]']
btag_UEC = ['f1_UEC[0.31, 0., 1.]','f2_UEC[0.15, 0., 1.]','f3_UEC[0.011, 0., 1.]','f4_UEC[0.0004, 0., 1.]']
