[MuEle]
variables = ['MR[1900.00000,350.000,2500.000]', 'Rsq[0.29500,0.11,1.5]', 'nBtag[1,1.,5.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[350.,2500.]','Rsq_FULL[0.11,1.5]', 'nBtag_FULL[1,1.,5.]',
		'MR_SidebandRsq[350.,2500.]','Rsq_SidebandRsq[0.11,0.3]', 'nBtag_SidebandRsq[1,1.,1.5]',
		'MR_SidebandMR[350.,600.]','Rsq_SidebandMR[0.11,1.5]', 'nBtag_SidebandMR[1,1.,1.5]']
# UEC
# I used upper limit of n_UEC = 6.0 for this -- and I get bad convergence if I use 16.0
pdf_UEC = ['MR0_UEC[-300, -700, 0.]', 'R0_UEC[-0.15,-1.,0.]', 'b_UEC[1.,0.0001,3.0]', 'n_UEC[3.7,0.8,6.0]']
# pdf_UEC = ['MR0_UEC[-300, -700, 0.]', 'R0_UEC[-0.15,-1.,0.]', 'b_UEC[1.,0.0001,3.0]', 'n_UEC[3.7,0.8,16.0]']
others_UEC = ['Ntot_UEC[1700.,0.,1000000.]']
btag_UEC = ['f1_UEC[0., 0., 1.]','f2_UEC[0., 0., 1.]','f3_UEC[0., 0., 1.]','f4_UEC[0., 0., 1.]']
# TTj
pdf_TTj = ['MR0_TTj[-3,-500.,0.]', 'R0_TTj[-0.11,-1.,0.]', 'b_TTj[0.038,0.0001,3]','n_TTj[1.0,0.8,150.0]']
others_TTj = ['Lumi[5036]', 'Ntot_TTj[5000,0.,10000.]']
btag_TTj = ['f1_TTj[0., 0., 1.]','f2_TTj[0., 0., 1.]','f3_TTj[0., 0., 1.]','f4_TTj[0., 0., 1.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[75, -400, 250.]', 'R0_Vpj[-0.03,-1.,0.9]', 'b_Vpj[0.08,0.0001,1.0]','n_Vpj[1.0,0.8,150.0]']
others_Vpj = ['Ntot_Vpj[600,0.,1000000.]']
btag_Vpj = ['f1_Vpj[0., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]','f4_Vpj[0., 0., 1.]']

[MuMu]
variables = ['MR[1900.00000,350.000,2500.000]', 'Rsq[0.29500,0.11,1.5]', 'nBtag[1,1.,5.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[350.,2500.]','Rsq_FULL[0.11,1.5]', 'nBtag_FULL[1,1.,5.]',
		'MR_SidebandRsq[350.,2500.]','Rsq_SidebandRsq[0.11,0.3]', 'nBtag_SidebandRsq[1,1.,1.5]',
		'MR_SidebandMR[350.,600.]','Rsq_SidebandMR[0.11,1.5]', 'nBtag_SidebandMR[1,1.,1.5]']
# UEC
# I used upper limit of n_UEC = 6.0 for this -- and I get bad convergence if I use 16.0
pdf_UEC = ['MR0_UEC[-300, -700, 0.]', 'R0_UEC[-0.15,-1.,0.]', 'b_UEC[1.,0.0001,3.0]', 'n_UEC[3.7,0.8,6.0]']
# pdf_UEC = ['MR0_UEC[-300, -700, 0.]', 'R0_UEC[-0.15,-1.,0.]', 'b_UEC[1.,0.0001,3.0]', 'n_UEC[3.7,0.8,16.0]']
others_UEC = ['Ntot_UEC[1700.,0.,1000000.]']
btag_UEC = ['f1_UEC[0., 0., 1.]','f2_UEC[0., 0., 1.]','f3_UEC[0., 0., 1.]','f4_UEC[0., 0., 1.]']
# TTj
pdf_TTj = ['MR0_TTj[-3,-500.,0.]', 'R0_TTj[-0.11,-1.,0.]', 'b_TTj[0.038,0.0001,3]','n_TTj[1.0,0.8,150.0]']
others_TTj = ['Lumi[5036]', 'Ntot_TTj[5000,0.,10000.]']
btag_TTj = ['f1_TTj[0., 0., 1.]','f2_TTj[0., 0., 1.]','f3_TTj[0., 0., 1.]','f4_TTj[0., 0., 1.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[75, -400, 250.]', 'R0_Vpj[-0.03,-1.,0.9]', 'b_Vpj[0.08,0.0001,1.0]','n_Vpj[1.0,0.8,150.0]']
others_Vpj = ['Ntot_Vpj[600,0.,1000000.]']
btag_Vpj = ['f1_Vpj[0., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]','f4_Vpj[0., 0., 1.]']

[EleEle]
variables = ['MR[1900.00000,350.000,2500.000]', 'Rsq[0.29500,0.11,1.5]', 'nBtag[1,1.,5.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[350.,2500.]','Rsq_FULL[0.11,1.5]', 'nBtag_FULL[1,1.,5.]',
		'MR_SidebandRsq[350.,2500.]','Rsq_SidebandRsq[0.11,0.3]', 'nBtag_SidebandRsq[1,1.,1.5]',
		'MR_SidebandMR[350.,600.]','Rsq_SidebandMR[0.11,1.5]', 'nBtag_SidebandMR[1,1.,1.5]']
# UEC
# I used upper limit of n_UEC = 6.0 for this -- and I get bad convergence if I use 16.0
pdf_UEC = ['MR0_UEC[-300, -700, 0.]', 'R0_UEC[-0.15,-1.,0.]', 'b_UEC[1.,0.0001,3.0]', 'n_UEC[3.7,0.8,6.0]']
# pdf_UEC = ['MR0_UEC[-300, -700, 0.]', 'R0_UEC[-0.15,-1.,0.]', 'b_UEC[1.,0.0001,3.0]', 'n_UEC[3.7,0.8,16.0]']
others_UEC = ['Ntot_UEC[1700.,0.,1000000.]']
btag_UEC = ['f1_UEC[0., 0., 1.]','f2_UEC[0., 0., 1.]','f3_UEC[0., 0., 1.]','f4_UEC[0., 0., 1.]']
# TTj
pdf_TTj = ['MR0_TTj[-3,-500.,0.]', 'R0_TTj[-0.11,-1.,0.]', 'b_TTj[0.038,0.0001,3]','n_TTj[1.0,0.8,150.0]']
others_TTj = ['Lumi[5036]', 'Ntot_TTj[5000,0.,10000.]']
btag_TTj = ['f1_TTj[0., 0., 1.]','f2_TTj[0., 0., 1.]','f3_TTj[0., 0., 1.]','f4_TTj[0., 0., 1.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[75, -400, 250.]', 'R0_Vpj[-0.03,-1.,0.9]', 'b_Vpj[0.08,0.0001,1.0]','n_Vpj[1.0,0.8,150.0]']
others_Vpj = ['Ntot_Vpj[600,0.,1000000.]']
btag_Vpj = ['f1_Vpj[0., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]','f4_Vpj[0., 0., 1.]']

[EleTau]
variables = ['MR[1900.00000,350.000,2500.000]', 'Rsq[0.29500,0.11,1.5]', 'nBtag[1,1.,5.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[350.,2500.]','Rsq_FULL[0.11,1.5]', 'nBtag_FULL[1,1.,5.]',
		'MR_SidebandRsq[350.,2500.]','Rsq_SidebandRsq[0.11,0.3]', 'nBtag_SidebandRsq[1,1.,1.5]',
		'MR_SidebandMR[350.,600.]','Rsq_SidebandMR[0.11,1.5]', 'nBtag_SidebandMR[1,1.,1.5]']
# UEC
# I used upper limit of n_UEC = 6.0 for this -- and I get bad convergence if I use 16.0
pdf_UEC = ['MR0_UEC[-300, -700, 0.]', 'R0_UEC[-0.15,-1.,0.]', 'b_UEC[1.,0.0001,3.0]', 'n_UEC[3.7,0.8,6.0]']
# pdf_UEC = ['MR0_UEC[-300, -700, 0.]', 'R0_UEC[-0.15,-1.,0.]', 'b_UEC[1.,0.0001,3.0]', 'n_UEC[3.7,0.8,16.0]']
others_UEC = ['Ntot_UEC[1700.,0.,1000000.]']
btag_UEC = ['f1_UEC[0., 0., 1.]','f2_UEC[0., 0., 1.]','f3_UEC[0., 0., 1.]','f4_UEC[0., 0., 1.]']
# TTj
pdf_TTj = ['MR0_TTj[-3,-500.,0.]', 'R0_TTj[-0.11,-1.,0.]', 'b_TTj[0.038,0.0001,3]','n_TTj[1.0,0.8,150.0]']
others_TTj = ['Lumi[5036]', 'Ntot_TTj[5000,0.,10000.]']
btag_TTj = ['f1_TTj[0., 0., 1.]','f2_TTj[0., 0., 1.]','f3_TTj[0., 0., 1.]','f4_TTj[0., 0., 1.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[75, -400, 250.]', 'R0_Vpj[-0.03,-1.,0.9]', 'b_Vpj[0.08,0.0001,1.0]','n_Vpj[1.0,0.8,150.0]']
others_Vpj = ['Ntot_Vpj[600,0.,1000000.]']
btag_Vpj = ['f1_Vpj[0., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]','f4_Vpj[0., 0., 1.]']

[MuTau]
variables = ['MR[1900.00000,350.000,2500.000]', 'Rsq[0.29500,0.11,1.5]', 'nBtag[1,1.,5.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[350.,2500.]','Rsq_FULL[0.11,1.5]', 'nBtag_FULL[1,1.,5.]',
		'MR_SidebandRsq[350.,2500.]','Rsq_SidebandRsq[0.11,0.3]', 'nBtag_SidebandRsq[1,1.,1.5]',
		'MR_SidebandMR[350.,600.]','Rsq_SidebandMR[0.11,1.5]', 'nBtag_SidebandMR[1,1.,1.5]']
# UEC
# I used upper limit of n_UEC = 6.0 for this -- and I get bad convergence if I use 16.0
pdf_UEC = ['MR0_UEC[-300, -700, 0.]', 'R0_UEC[-0.15,-1.,0.]', 'b_UEC[1.,0.0001,3.0]', 'n_UEC[3.7,0.8,6.0]']
# pdf_UEC = ['MR0_UEC[-300, -700, 0.]', 'R0_UEC[-0.15,-1.,0.]', 'b_UEC[1.,0.0001,3.0]', 'n_UEC[3.7,0.8,16.0]']
others_UEC = ['Ntot_UEC[1700.,0.,1000000.]']
btag_UEC = ['f1_UEC[0., 0., 1.]','f2_UEC[0., 0., 1.]','f3_UEC[0., 0., 1.]','f4_UEC[0., 0., 1.]']
# TTj
pdf_TTj = ['MR0_TTj[-3,-500.,0.]', 'R0_TTj[-0.11,-1.,0.]', 'b_TTj[0.038,0.0001,3]','n_TTj[1.0,0.8,150.0]']
others_TTj = ['Lumi[5036]', 'Ntot_TTj[5000,0.,10000.]']
btag_TTj = ['f1_TTj[0., 0., 1.]','f2_TTj[0., 0., 1.]','f3_TTj[0., 0., 1.]','f4_TTj[0., 0., 1.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[75, -400, 250.]', 'R0_Vpj[-0.03,-1.,0.9]', 'b_Vpj[0.08,0.0001,1.0]','n_Vpj[1.0,0.8,150.0]']
others_Vpj = ['Ntot_Vpj[600,0.,1000000.]']
btag_Vpj = ['f1_Vpj[0., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]','f4_Vpj[0., 0., 1.]']

[Ele]
variables = ['MR[1900.00000,350.000,2500.000]', 'Rsq[0.29500,0.11,1.5]', 'nBtag[1,1.,5.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[350.,2500.]','Rsq_FULL[0.11,1.5]', 'nBtag_FULL[1,1.,5.]',
		'MR_SidebandRsq[350.,2500.]','Rsq_SidebandRsq[0.11,0.3]', 'nBtag_SidebandRsq[1,1.,1.5]',
		'MR_SidebandMR[350.,600.]','Rsq_SidebandMR[0.11,1.5]', 'nBtag_SidebandMR[1,1.,1.5]']
# UEC
# I used upper limit of n_UEC = 6.0 for this -- and I get bad convergence if I use 16.0
pdf_UEC = ['MR0_UEC[-300, -700, 0.]', 'R0_UEC[-0.15,-1.,0.]', 'b_UEC[1.,0.0001,3.0]', 'n_UEC[3.7,0.8,6.0]']
# pdf_UEC = ['MR0_UEC[-300, -700, 0.]', 'R0_UEC[-0.15,-1.,0.]', 'b_UEC[1.,0.0001,3.0]', 'n_UEC[3.7,0.8,16.0]']
others_UEC = ['Ntot_UEC[1700.,0.,1000000.]']
btag_UEC = ['f1_UEC[0., 0., 1.]','f2_UEC[0., 0., 1.]','f3_UEC[0., 0., 1.]','f4_UEC[0., 0., 1.]']
# TTj
pdf_TTj = ['MR0_TTj[-3,-500.,0.]', 'R0_TTj[-0.11,-1.,0.]', 'b_TTj[0.038,0.0001,3]','n_TTj[1.0,0.8,150.0]']
others_TTj = ['Lumi[5036]', 'Ntot_TTj[5000,0.,10000.]']
btag_TTj = ['f1_TTj[0., 0., 1.]','f2_TTj[0., 0., 1.]','f3_TTj[0., 0., 1.]','f4_TTj[0., 0., 1.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[75, -400, 250.]', 'R0_Vpj[-0.03,-1.,0.9]', 'b_Vpj[0.08,0.0001,1.0]','n_Vpj[1.0,0.8,150.0]']
others_Vpj = ['Ntot_Vpj[600,0.,1000000.]']
btag_Vpj = ['f1_Vpj[0., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]','f4_Vpj[0., 0., 1.]']


[Mu]
variables = ['MR[1900.00000,350.000,2500.000]', 'Rsq[0.29500,0.11,1.5]', 'nBtag[1,1.,5.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[350.,2500.]','Rsq_FULL[0.11,1.5]', 'nBtag_FULL[1,1.,5.]',
		'MR_SidebandRsq[350.,2500.]','Rsq_SidebandRsq[0.11,0.3]', 'nBtag_SidebandRsq[1,1.,1.5]',
		'MR_SidebandMR[350.,600.]','Rsq_SidebandMR[0.11,1.5]', 'nBtag_SidebandMR[1,1.,1.5]']
# UEC
# I used upper limit of n_UEC = 6.0 for this -- and I get bad convergence if I use 16.0
pdf_UEC = ['MR0_UEC[-300, -700, 0.]', 'R0_UEC[-0.15,-1.,0.]', 'b_UEC[1.,0.0001,3.0]', 'n_UEC[3.7,0.8,6.0]']
# pdf_UEC = ['MR0_UEC[-300, -700, 0.]', 'R0_UEC[-0.15,-1.,0.]', 'b_UEC[1.,0.0001,3.0]', 'n_UEC[3.7,0.8,16.0]']
others_UEC = ['Ntot_UEC[1700.,0.,1000000.]']
btag_UEC = ['f1_UEC[0., 0., 1.]','f2_UEC[0., 0., 1.]','f3_UEC[0., 0., 1.]','f4_UEC[0., 0., 1.]']
# TTj
pdf_TTj = ['MR0_TTj[-3,-500.,0.]', 'R0_TTj[-0.11,-1.,0.]', 'b_TTj[0.038,0.0001,3]','n_TTj[1.0,0.8,150.0]']
others_TTj = ['Lumi[5036]', 'Ntot_TTj[5000,0.,10000.]']
btag_TTj = ['f1_TTj[0., 0., 1.]','f2_TTj[0., 0., 1.]','f3_TTj[0., 0., 1.]','f4_TTj[0., 0., 1.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[75, -400, 250.]', 'R0_Vpj[-0.03,-1.,0.9]', 'b_Vpj[0.08,0.0001,1.0]','n_Vpj[1.0,0.8,150.0]']
others_Vpj = ['Ntot_Vpj[600,0.,1000000.]']
btag_Vpj = ['f1_Vpj[0., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]','f4_Vpj[0., 0., 1.]']

[Jet]
variables = ['MR[1900.00000,400.000,2500.000]', 'Rsq[0.29500,0.18,1.5]', 'nBtag[1,1.,5.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[400.,2500.]','Rsq_FULL[0.18,1.5]', 'nBtag_FULL[1,1.,5.]',
		'MR_SidebandRsq[400.,2500.]','Rsq_SidebandRsq[0.18,0.35]', 'nBtag_SidebandRsq[1,1.,5.]',
		'MR_SidebandMR[400.,600.]','Rsq_SidebandMR[0.18,1.5]', 'nBtag_SidebandMR[1,1.,5.]']
# UEC
pdf_UEC = ['MR0_UEC[-100, -2000, 250.]', 'R0_UEC[-0.5,-1.,0.]', 'b_UEC[1.,0.0001,3.0]', 'n_UEC[3.0,0.8,6.0]']
others_UEC = ['Ntot_UEC[5000.,0.,1000000.]']
btag_UEC = ['f1_UEC[0., 0., 1.]','f2_UEC[0., 0., 1.]','f3_UEC[0., 0., 1.]','f4_UEC[0., 0., 1.]']
# TTj
pdf_TTj = ['MR0_TTj[-3,-500.,0.]', 'R0_TTj[-0.11,-1.,0.]', 'b_TTj[0.2,0.0001,3]','n_TTj[1.0,0.8,150.0]']
others_TTj = ['Lumi[5036]', 'Ntot_TTj[200,0.,10000.]']
btag_TTj = ['f1_TTj[0., 0., 1.]','f2_TTj[0., 0., 1.]','f3_TTj[0., 0., 1.]','f4_TTj[0., 0., 1.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[75, -5000, 250.]', 'R0_Vpj[-0.03,-1.,0.9]', 'b_Vpj[0.08,0.0001,1.0]','n_Vpj[1.0,0.8,150.0]']
others_Vpj = ['Ntot_Vpj[900,0.,1000000.]']
btag_Vpj = ['f1_Vpj[0., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]','f4_Vpj[0., 0., 1.]']

[MultiJet]
variables = ['MR[1900.00000,400.000,2500.000]', 'Rsq[0.29500,0.18,1.5]', 'nBtag[1,1.,5.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[400.,2500.]','Rsq_FULL[0.18,1.5]', 'nBtag_FULL[1,1.,5.]',
		'MR_SidebandRsq[400.,2500.]','Rsq_SidebandRsq[0.18,0.35]', 'nBtag_SidebandRsq[1,1.,5.]',
		'MR_SidebandMR[400.,600.]','Rsq_SidebandMR[0.18,1.5]', 'nBtag_SidebandMR[1,1.,5.]']
# UEC
pdf_UEC = ['MR0_UEC[-100, -2000, 250.]', 'R0_UEC[-0.5,-1.,0.]', 'b_UEC[1.,0.0001,3.0]', 'n_UEC[3.0,0.8,6.0]']
others_UEC = ['Ntot_UEC[5000.,0.,1000000.]']
btag_UEC = ['f1_UEC[0., 0., 1.]','f2_UEC[0., 0., 1.]','f3_UEC[0., 0., 1.]','f4_UEC[0., 0., 1.]']
# TTj
pdf_TTj = ['MR0_TTj[-3,-500.,0.]', 'R0_TTj[-0.11,-1.,0.]', 'b_TTj[0.2,0.0001,3]','n_TTj[1.0,0.8,150.0]']
others_TTj = ['Lumi[5036]', 'Ntot_TTj[200,0.,10000.]']
btag_TTj = ['f1_TTj[0., 0., 1.]','f2_TTj[0., 0., 1.]','f3_TTj[0., 0., 1.]','f4_TTj[0., 0., 1.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[75, -5000, 250.]', 'R0_Vpj[-0.03,-1.,0.9]', 'b_Vpj[0.08,0.0001,1.0]','n_Vpj[1.0,0.8,150.0]']
others_Vpj = ['Ntot_Vpj[900,0.,1000000.]']
btag_Vpj = ['f1_Vpj[0., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]','f4_Vpj[0., 0., 1.]']

[TauTau]
variables = ['MR[1900.00000,400.000,2500.000]', 'Rsq[0.29500,0.18,1.5]', 'nBtag[1,1.,5.]','CHARGE[1.,-1,1]']
variables_range = ['MR_FULL[400.,2500.]','Rsq_FULL[0.18,1.5]', 'nBtag_FULL[1,1.,5.]',
		'MR_SidebandRsq[400.,2500.]','Rsq_SidebandRsq[0.18,0.35]', 'nBtag_SidebandRsq[1,1.,5.]',
		'MR_SidebandMR[400.,600.]','Rsq_SidebandMR[0.18,1.5]', 'nBtag_SidebandMR[1,1.,5.]']
# UEC
pdf_UEC = ['MR0_UEC[-100, -2000, 250.]', 'R0_UEC[-0.5,-1.,0.]', 'b_UEC[1.,0.0001,3.0]', 'n_UEC[3.0,0.8,6.0]']
others_UEC = ['Ntot_UEC[5000.,0.,1000000.]']
btag_UEC = ['f1_UEC[0., 0., 1.]','f2_UEC[0., 0., 1.]','f3_UEC[0., 0., 1.]','f4_UEC[0., 0., 1.]']
# TTj
pdf_TTj = ['MR0_TTj[-3,-500.,0.]', 'R0_TTj[-0.11,-1.,0.]', 'b_TTj[0.2,0.0001,3]','n_TTj[1.0,0.8,150.0]']
others_TTj = ['Lumi[5036]', 'Ntot_TTj[200,0.,10000.]']
btag_TTj = ['f1_TTj[0., 0., 1.]','f2_TTj[0., 0., 1.]','f3_TTj[0., 0., 1.]','f4_TTj[0., 0., 1.]']
# Vpj
pdf_Vpj = ['MR0_Vpj[75, -5000, 250.]', 'R0_Vpj[-0.03,-1.,0.9]', 'b_Vpj[0.08,0.0001,1.0]','n_Vpj[1.0,0.8,150.0]']
others_Vpj = ['Ntot_Vpj[900,0.,1000000.]']
btag_Vpj = ['f1_Vpj[0., 0., 1.]','f2_Vpj[0., 0., 1.]','f3_Vpj[0., 0., 1.]','f4_Vpj[0., 0., 1.]']
